{% extends "::base.html.twig" %}

{% block empty_cell %}<td>-</td>{% endblock %}

{% block fos_user_content %}
<div class="page-header">
	<h1>{{ 'user.profile'|trans }}</h1>
</div>

{% include "FOSUserBundle:Profile:show_content.html.twig" %}

<div class="page-header">
	<h3>{{ 'coin.collection'|trans }}</h3>
</div>

{% set country = '' %}

{% for coin in coins %}
	{% set quantity = coin.quantity %}
	{% set coin = coin.coin %}

	{% if country != coin.country %}
		{% set country = coin.country %}
		{% if not loop.first %}
				{% for n in range(columns + 1, nbval) if columns < nbval %}
					{{ block('empty_cell') }}
				{% endfor %}
				</tr>
			</tbody>
			</table>
		{% endif %}

		<table class="table table-bordered table-condensed table-striped">
		<thead>
			<tr>
				<th>{{ coin.country|trans }}</th>
				{% for value in coin_values[coin.country.id] %}
				<th>{{ value }}</th>
				{% endfor %}

				{% set changed, columns, year = false, 0, 1990 %}
				{% set nbval, val = coin_values[coin.country.id]|length - 1, coin_values[coin.country.id] %}
			</tr>
		</thead>
		<tbody>
	{% endif %}

	{% if year != coin.year %}
		{% if not loop.first and year != 1990 %}
			{% for n in range(columns + 1, nbval) if columns < nbval %}
				{{ block('empty_cell') }}
			{% endfor %}
			</tr>
		{% endif %}

	<tr>
		<td>{{ coin.year }}</td>
		{% set changed, columns, year = false, 0, coin.year %}
	{% endif %}

	{% if val[columns] != coin.value %}
		{% for n in range(columns + 1, nbval) %}
			{% if not changed %}
				{{ block('empty_cell') }}
			{% endif %}

			{% if val[n] == coin.value %}
				{% set columns = n %}
				{% set changed = true %}
			{% endif %}

			{% if changed and val[n] > coin.value %}
				{{ block('empty_cell') }}
			{% endif %}
		{% endfor %}
	{% else %}
		{% set columns = columns + 1 %}
	{% endif %}

	<td>{{ quantity }}</td>

	{% if loop.last %}
			{% for n in range(columns + 1, nbval) if columns < nbval %}
				{{ block('empty_cell') }}
			{% endfor %}
			</tr>
		</tbody>
		</table>
	{% endif %}
{% else %}
<div class="alert alert-info">
	{{ 'user.coin.none'|trans }}
</div>
{% endfor %}

{% endblock fos_user_content %}
