{% extends "::base.html.twig" %}

{% block title %}{{ 'user.profile.view'|trans({ '%name%': user.username }) }}{% endblock %}

{% block empty_cell %}<td>-</td>{% endblock %}

{% block fos_user_content %}
<div class="page-header">
	<h1>
		{{ block('title') }}
		{% if app.user.id == user.id %}
			<small><a href="{{ path('user_edit') }}">{{ 'user.profile.edit'|trans }}</a></small>
		{% endif %}
	</h1>
</div>

<div class="row-fluid">
	<div class="span2">
		<div class="well">
			<dl>
				<dt>{{ 'user.profile.registration_date'|trans }}</dt>
				<dd>{{ user.registrationdate|localizeddate }}</dd>

				<dt>{{ 'user.profile.last_login'|trans }}</dt>
				<dd>{{ user.lastlogin|localizeddate }}</dd>

				{% if app.user.id != user.id %}
				<dt>{{ 'user.contact'|trans }}</dt>
				<dd><a href="{{ path('pm_new_to', { to: user.id }) }}">{{ 'user.contact.pm'|trans }}</a></dd>
				{% endif %}
			<dl>
		</div>

		<div class="well">
			<dl>
				<dt>{{ 'user.total.coins'|trans }}</dt>
				<dd>{{ total.coins|number_format }}</dd>

				<dt>{{ 'user.total.doubles'|trans }}</dt>
				<dd>{{ total.doubles|number_format }}</dd>

				<dt>{{ 'user.total.countries'|trans }}</dt>
				<dd>{{ total.countries|number_format }}</dd>
			<dl>
		</div>

		{% if app.user.id == user.id %}
		<div class="well" style="padding: 8px 0;">
			<ul class="nav nav-list">
				<li class="nav-header">Actions</li>
				<li><a href="{{ path('pm_index') }}"><i class="icon icon-envelope"></i> {{ 'pm'|trans }}</a></li>
				<li><a href="{{ path('fos_user_security_logout') }}"><i class="icon icon-off"></i> {{ 'user.logout'|trans }}</a></li>
			</ul>
		</div>
		{% endif %}
	</div>

	<div class="span10">
		{% set country = '' %}

		{% for coin in coins %}
			{% set quantity = coin.quantity %}
			{% set coin = coin.coin %}

			{% if country != coin.country %}
				{% set country = coin.country %}
				{% if not loop.first %}
						{% for n in range(column + 1, nbval) if column < nbval %}
							{{ block('empty_cell') }}
						{% endfor %}
						</tr>
					</tbody>
					</table>
				{% endif %}

				<table class="table table-bordered table-condensed table-striped">
				<thead>
					<tr>
						<th><a href="{{ path('country_show', { id: coin.country.id }) }}">{{ coin.country|trans }}</a></th>
						{% for value in coin_values[coin.country.id] %}
						<th>{{ value }}</th>
						{% endfor %}

						{% set changed, column, year = false, 0, '1990' %}
						{% set nbval, val = coin_values[coin.country.id]|length - 1, coin_values[coin.country.id] %}
					</tr>
				</thead>
				<tbody>
			{% endif %}

			{% if year != coin.year %}
				{% if not loop.first and year != '1990' %}
					{% for n in range(column + 1, nbval) if column < nbval %}
						{{ block('empty_cell') }}
					{% endfor %}
					</tr>
				{% endif %}

			<tr>
				<td>{{ coin.year }}</td>
				{% set changed, column, year = false, 0, coin.year %}
			{% endif %}

			{% if val[column] != coin.value %}
				{% for n in range(column + 1, nbval) %}
					{% if not changed %}
						{{ block('empty_cell') }}
					{% endif %}

					{% if val[n] == coin.value %}
						{% set column = n %}
						{% set changed = true %}
					{% endif %}

					{% if changed and val[n] > coin.value %}
						{{ block('empty_cell') }}
					{% endif %}
				{% endfor %}
			{% else %}
				{% set column = column + 1 %}
			{% endif %}

			<td>{{ quantity }}</td>

			{% if loop.last %}
					{% for n in range(column + 1, nbval) if column < nbval %}
						{{ block('empty_cell') }}
					{% endfor %}
					</tr>
				</tbody>
				</table>
			{% endif %}
		{% else %}
		<div class="alert alert-info">
			{{ 'user.coin.none'|trans }}
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
