{% extends '::base.html.twig' %}

{% block title %}{{ countries ? macros.name(current) : '' }}{% endblock %}

{% block body %}
{% if countries %}
	{% set name = macros.name(current) %}

	<h2 class="page-header">
		<img alt="{{ name }}" src="{% path current.flag, 'big' %}" title="{{ name }}" />
		{{ name }}
	</h2>

	<div class="row-fluid">
		<div class="span2">
			<div class="dropdown">
				<ul class="dropdown-menu" style="display: block; position: static;">
					<li class="nav-header">{{ 'countries.list'|trans }}</li>

					{% for country in countries %}
						{% set _name = macros.name(country) %}

						<li{% if country.name == current.name %} class="active"{% endif %} data-action="popover" title="{{ _name }}" data-content="{% include 'EuroCoinBundle:Country:country_data.html.twig' with { country: country } %}">
							<a href="{{ path('coin_collection' ~ type, { id: country.id, country: _name }) }}">
								<i class="icon-chevron-right"></i> {{ _name }}
							</a>
						</li>
					{% endfor %}

					<li class="divider"></li>

					{% for i in 1..3 %}
						<li{{ macros.is_active(['coin_collection' ~ i]) }}>
							<a href="{{ path('coin_collection' ~ i, { id: current.id, country: name }) }}">
								<i class="icon-chevron-right"></i> {{ ('coin.type' ~ i)|trans }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="span10">
			{% if coins|length > 0 %}
				{% if app.user %}
					<div class="alert alert-info fade in">
						<button class="close" type="button" data-dismiss="alert">×</button>

						{{ 'coin.sharing_count_info'|trans }}
					</div>
				{% endif %}

				{% if years|length > 1 %}
					<ul class="breadcrumb">
						{% for year in years %}
							<li>
								{% if year.id == current_year %}<strong>{% endif %}
									<a href="{{ path(app.request.get('_route'), { id: current.id, country: name, year: year.id, year_full: year }) }}">{{ macros.year(year) }}</a>

									<span class="divider">&nbsp;</span>
								{% if year.id == current_year %}</strong>{% endif %}
							</li>
						{% endfor %}

						<li>
							{% if not current_year %}<strong>{% endif %}
								<a href="{{ path(app.request.get('_route'), { id: current.id, country: name }) }}">{{ 'coin.all_years'|trans }}</a>
							{% if not current_year %}</strong>{% endif %}
						</li>
					</ul>
				{% endif %}

				{% block content %}{% endblock %}
			{% else %}
				<div class="alert">{{ 'coin.none'|trans }}</div>
			{% endif %}
		</div>
	</div>
{% else %}
	<div class="alert">{{ 'country.none'|trans }}</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/eurocoin/js/collection.js') }}" type="text/javascript"></script>
{% endblock %}
