{% extends '::base.html.twig' %}

{% block title %}
{% if year[0] > 0 %}
	{% if year[0] != year[1] %}
		{{ ('country.coin' ~ type ~ '_from_to')|trans({ '%country%': macros.name(current), '%from%': year[0], '%to%': year[1] })|raw }}
	{% else %}
		{{ ('country.coin' ~ type ~ '_from')|trans({ '%country%': macros.name(current), '%from%': year[0] })|raw }}
	{% endif %}
{% else %}
	{{ ('country.coin' ~ type)|trans({ '%country%': macros.name(current) })|raw }} 
{% endif %}
{% endblock %}

{% block meta_description %}{{ block('title') }}{% endblock %}

{% block body %}
{% if countries %}
	{% set name = macros.name(current) %}

	<h2 class="page-header">
		<img alt="{{ name }}" src="{% path current.flag, 'big' %}" title="{{ name }}" data-hover="tooltip" data-placement="right" />
		{{ block('title') }}
	</h2>

	<div class="row-fluid">
		<div class="span2">
			<div class="well well-small" style="width: 90%;">
				<dl style="display: block; position: static;">
					<dt>{{ 'country.join_date'|trans }}</dt>
						<dd>{{ current.joindate|format_date }}</dd>

					<dt>{{ 'country.former_currency'|trans }}</dt>
						<dd>{{ macros.currency(current) }}</dd>

					<dt>{{ 'country.exchange_rate'|trans }}</dt>
						<dd>{{ macros.value(1) ~ ' = ' ~ macros.value(current.exchangerate, current.formercurrencyiso) }}</dd>
				</dl>
			</div>

			<div class="dropdown">
				<ul class="dropdown-menu" style="display: block; position: static; width: 100%;">
					<li class="nav-header">{{ 'country.current'|trans }}</li>

					{% set _name = macros.name(current) %}

					<li class="active">
						<a href="{{ path('coin_collection' ~ type, { id: current.id, country: _name }) }}">
							<img alt="{{ _name }}" src="{% path current.flag, 'mini' %}" title="{{ _name }}" data-hover="tooltip" data-placement="right" />
							{{ _name }}
						</a>
					</li>

					<li class="nav-header" data-action="hide-items" style="cursor: pointer;"><span>+</span> {{ 'country.others'|trans }}</li>

					{% for country in countries if country.id != current.id %}
						{% set _name = macros.name(country) %}

						<li class="hide" data-action="popover" title="{{ _name }}" data-content="{% include 'EuroCoinBundle:Country:country_data.html.twig' with { country: country } %}">
							<a href="{{ path('coin_collection' ~ type, { id: country.id, country: _name|e('url') }) }}">
								<img alt="{{ _name }}" src="{% path country.flag, 'mini' %}" title="{{ _name }}" data-hover="tooltip" data-placement="right" />
								{{ _name }}
							</a>
						</li>
					{% endfor %}

					<li class="divider"></li>

					{% for i in 1..3 %}
						<li{{ macros.is_active(['coin_collection' ~ i]) }}>
							<a href="{{ path('coin_collection' ~ i, { id: current.id, country: name }) }}">
								<i class="icon-chevron-right"></i> {{ ('coin.type' ~ i)|trans }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="span10">
			{% if coins|length > 0 %}
				{% if years|length > 1 %}
					<ul class="breadcrumb">
						<li class="muted">{{ 'years'|trans }} <span class="divider">&nbsp;</span></li>

						{% set std_filter = false %}
						{% for year in years %}
							{% set year_text = year.from %}
							{% set year_url = year.from %}
							{% if year.to %}
								{% set year_text = 'year.filter_interval'|trans({ '%from%': year.from, '%to%': year.to }) %}
								{% set year_url = year.from ~ '..' ~ year.to %}
							{% endif %}

							<li>
								{% if year_url == current_year %}
									{% set std_filter = true %}

									<strong>
								{% endif %}
									<a href="{{ path(app.request.get('_route'), { id: current.id, country: name, year: year_url }) }}">{{ year_text }}</a>

									<span class="divider">&nbsp;</span>
								{% if year_url == current_year %}</strong>{% endif %}
							</li>
						{% endfor %}

						{% if not std_filter %}
							{% set year_text = year[0] %}
							{% if year[0] != year[1] %}
								{% set year_text = 'year.filter_interval'|trans({ '%from%': year[0], '%to%': year[1] }) %}
							{% endif %}

							<li>
								<strong>
									<a href="{{ path(app.request.get('_route'), { id: current.id, country: name, year: current_year }) }}">{{ year_text }}</a>

									<span class="divider">&nbsp;</span>
								</strong>
							</li>
						{% endif %}

						<li class="dropdown">
							<a href="#" title="{{ 'year.filter_setting'|trans }}" data-hover="tooltip" data-toggle="dropdown" data-placement="top">
								<i class="icon-wrench"></i> <b class="caret"></b>
							</a>

							<ul class="dropdown-menu">
								<li class="nav-header">{{ 'years.filter'|trans }}</li>
								<li>
									<form action="{{ url(app.request.get('_route'), { id: current.id, country: name, year: 'FROM..TO' }) }}" id="customize_filter">
										<div class="offset1">
											<input class="span5" name="from" placeholder="{{ 'year.filter_from'|trans }}" type="text" />
											<input class="span5" name="to" placeholder="{{ 'year.filter_to'|trans }}" type="text" />
										</div>

										<hr class="divider" />

										<div class="offset1">
											<button class="btn span10" type="submit">{{ 'year.filter'|trans }}</button>
										</div>
									</form>
								</li>
							</ul>
						</li>
					</ul>
				{% endif %}

				{% block content %}{% endblock %}
			{% else %}
				<div class="alert">{{ 'coin.none'|trans }}</div>
			{% endif %}
		</div>
	</div>
{% else %}
	<div class="alert">{{ 'country.none'|trans }}</div>
{% endif %}

<div class="coin-modal-backdrop" id="coin-modal">
	<div class="btn btn-large btn-primary coin-modal-close-button">{{ 'close'|trans }}</div>

	<div class="coin-modal-inner">
		<img />
	</div>
</div>

{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/eurocoin/js/collection.js') }}" type="text/javascript"></script>
{% endblock %}
