{% import "::macros.html.twig" as macros %}

<div class="hide" id="coin-info-{{ coin.id }}">
	<div class="row">
		{% if coin.image %}
			<div class="span2">
				{% media coin.image, 'small' %}
			</div>
		{% endif %}
	{% if not coin.collector %}
	</div>
	<div class="row">
		{% if coin.image %}
		<div class="span2">
			<dl>
		{% endif %}
	{% endif %}

	{% if coin.collector or not coin.image %}
		<div class="span3">
			<dl class="dl-horizontal">
	{% endif %}
				<dt>{{ 'coin.country'|trans }}</dt>
					<dd>{{ coin.country|trans }}</dd>

				<dt>{{ 'coin.year'|trans }}</dt>
					<dd>{{ macros.year(coin.year) }}</dd>

				<dt>{{ 'coin.value'|trans }}</dt>
					<dd>{{ macros.value(coin.value) }}</dd>

				<dt>{{ 'coin.collector'|trans }}</dt>
					<dd>
						{% if coin.collector %}
							<i class="icon-ok"></i> {{ 'yes'|trans }}
						{% else %}
							<i class="icon-remove"></i> {{ 'no'|trans }}
						{% endif %}
					</dd>

				<dt>{{ 'coin.mintage'|trans }}</dt>
					<dd>{{ coin.mintage|number_format }}</dd>

				<dt>{{ 'coin.registered_quantity'|trans }}</dt>
					<dd>{{ coin.membertotal|number_format }}</dd>
			</dl>
		</div>
	</div>
</div>
