{% import "::macros.html.twig" as macros %}

<div class="hide" id="coin-info-{{ coin.id }}">
	<div class="row">
		{% if coin.image and coin.type == 1 %}
			<div class="span2 zoomable">
				{% media coin.image, 'small' with { alt: coin.description, title: coin.description } %}
			</div>
		{% endif %}
	{% if coin.type == 1 %}
	</div>
	<div class="row">
		{% if coin.image and coin.type == 1 %}
		<div class="span2">
			<dl>
		{% endif %}
	{% endif %}

	{% if coin.type != 1 or not coin.image %}
		<div class="span3">
			<dl class="dl-horizontal">
	{% endif %}
				<dt>{{ 'coin.country'|trans }}</dt>
					<dd>{{ macros.name(coin.country) }}</dd>

				<dt>{{ 'coin.year'|trans }}</dt>
					<dd>{{ macros.year(coin.year) }}</dd>

				<dt>{{ 'coin.value'|trans }}</dt>
					<dd>{{ macros.value(coin.value) }}</dd>

				<dt>{{ 'coin.type'|trans }}</dt>
					<dd>{{ ('coin.type' ~ coin.type)|trans }}</dd>

				<dt>{{ 'coin.mintage'|trans }}</dt>
					<dd>{{ coin.mintage|number_format }}</dd>

				<dt>{{ 'coin.registered_quantity'|trans }}</dt>
					<dd>{{ coin.membertotal|number_format }}</dd>
			</dl>
		</div>
	</div>
</div>
