{% extends 'EuroCoinBundle:Coin:base.html.twig' %}

{% block content %}
{% if countries and coins|length > 0 %}
	{% set header_content %}
	{% for value in all_values %}
		<th>{{ macros.value(value) }}</th>
	{% endfor %}
	{% endset %}

	{% set empty_cell %}
	<td style="text-align: center;">{{ 'coin.no_mintage'|trans }}</td>
	{% endset %}

	{% set hide_count = 0 %}
	{% set year_range = constant('Euro\\CoinBundle\\Controller\\CoinController::YEAR_RANGE_SIZE') %}

	<table class="table table-bordered table-condensed table-hover table-striped">
	<tbody>
		<tr>
			<th><i class="icon-minus" data-action="toggle-collection"></i></th>
			{{ header_content }}
		</tr>

		{% for year, values in coins %}
			{% if loop.index0 > 0 and loop.index0 % year_range == 0 %}
				{% set hide_count = year_range %}

				<tr class="values">
					<th><i class="icon-plus" data-action="toggle-collection"></i></th>
					{{ header_content }}
				</tr>
			{% endif %}

			<tr{% if hide_count > 0 %} class="hide"{% set hide_count = hide_count - 1 %}{% endif %}>
				{% set has_year = false %}
				{% for value in all_values if values[value] is defined and not has_year %}
					{% set has_year = true %}

					<td>{{ macros.year(values[value].year) }}</td>
				{% endfor %}

				{% for value in all_values %}
					{% if values[value] is defined %}
						{% set coin = values[value] %}

						{% if app.user %}
							{% set has_coin = uc[coin.id] is defined %}
						{% endif %}

						<td>
							<div class="btn-toolbar" data-coin="{{ coin.id }}">
								<div class="btn-group pull-left">
									<button class="btn btn-mini btn-info" title="{{ 'coin.information'|trans }}" data-action="query-coin-info" data-loading-text="?">?</button>

									{% if app.user %}
										{% if has_coin %}
											<button class="btn btn-mini disabled" disabled="disabled" id="quantity-{{ coin.id }}" title="{{ 'coin.self_quantity'|trans }}">
												{{ uc[coin.id].quantity|number_format }}

												{% if uc[coin.id].sharing %}
													({{ uc[coin.id].sharing }})
												{% endif %}
											</button>
										{% else %}
											<button class="btn btn-mini disabled" disabled="disabled" id="quantity-{{ coin.id }}" title="{{ 'coin.registered_quantity'|trans }}">0</button>
										{% endif %}
									{% else %}
										<button class="btn btn-mini disabled" disabled="disabled" id="quantity-{{ coin.id }}" title="{{ 'coin.mintage'|trans }}">{{ coin.mintage|number_format }}</button>
									{% endif %}
								</div>

								{% if app.user %}
									<div class="btn-group pull-right">
										<button class="btn btn-mini btn-danger{% if not has_coin %} disabled" disabled="disabled{% endif %}" title="{{ 'coin.remove'|trans }}" data-action="remove-coin" data-loading-text="-">-</button>
										<button class="btn btn-mini btn-success{% if coin.mintage == coin.membertotal %} disabled" disabled="disabled{% endif %}" title="{{ 'coin.add'|trans }}" data-action="add-coin" data-loading-text="+">+</button>
									</div>
								{% endif %}
							</div>
						</td>
					{% else %}
						{{ empty_cell }}
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>{{ 'coin.total'|trans }}</th>
			{% for value, total in totals %}
				<th>
					<span class="pull-left">{{ total|number_format }}</span>
					<span class="pull-right" rel="tooltip" title="{{ macros.value(total * value) }}" data-placement="left"><i class="icon-info-sign"></i></span>
				</th>
			{% endfor %}
		</tr>
	</tfoot>
	</table>
{% endif %}
{% endblock %}
