{% extends 'EuroCoinBundle:Coin:base.html.twig' %}

{% block content %}
{% if countries and coins|length > 0 %}
	{% set header_content %}
	{% for value in all_values %}
		<th>{{ macros.value(value) }}</th>
	{% endfor %}
	{% endset %}

	{% set empty_cell %}
	<td>
		<a class="pull-right" href="{{ path('contact', { subject: 'missing_coins' }) }}" title="{{ 'coin.missing_coin'|trans }}" data-hover="tooltip">
			<i class="icon-bullhorn"></i>
		</a>
	</td>
	{% endset %}

	{% set hide_count = 0 %}
	{% set year_range = constant('Euro\\CoinBundle\\Controller\\CoinController::YEAR_RANGE_SIZE') %}

	<table class="table table-bordered table-condensed table-hover table-striped">
	<tbody>
		<tr>
			<th><i class="icon-minus" data-action="toggle-collection"></i></th>
			{{ header_content }}
		</tr>

		{% for year, values in coins %}
			{% if loop.index0 > 0 and loop.index0 % year_range == 0 %}
				{% set hide_count = year_range %}

				<tr class="values">
					<th><i class="icon-plus" data-action="toggle-collection"></i></th>
					{{ header_content }}
				</tr>
			{% endif %}

			<tr{% if hide_count > 0 %} class="hide"{% set hide_count = hide_count - 1 %}{% endif %}>
				{% set has_year = false %}
				{% for value in all_values if values[value] is defined and not has_year %}
					{% set has_year = true %}

					<td>{{ macros.year(values[value].year) }}</td>
				{% endfor %}

				{% for value in all_values %}
					{% if values[value] is defined %}
						{% set coin = values[value] %}

						{% if app.user %}
							{% set has_coin = uc[coin.id] is defined %}
						{% endif %}

						<td>
							<div class="btn-toolbar" data-coin="{{ coin.id }}">
								<div class="btn-group pull-left">
									<button class="btn btn-mini btn-info" title="{{ 'coin.information'|trans }}" data-action="query-coin-info" data-loading-text="?">?</button>

									{% if app.user %}
										<button class="btn btn-mini disabled" disabled="disabled" id="quantity-{{ coin.id }}" title="{{ 'coin.self_quantity'|trans }}">{{ has_coin ? uc[coin.id].quantity|number_format : 0 }}</button>
									{% else %}
										<button class="btn btn-mini disabled" disabled="disabled" id="quantity-{{ coin.id }}" title="{{ 'coin.mintage'|trans }}">{{ coin.mintage|number_format }}</button>
									{% endif %}
								</div>

								{% if app.user %}
									<i class="icon-cog pull-right" data-hover="popover" data-original-title="{{ macros.coin(coin)|e('html') }}" data-html="true" data-placement="left" data-content="{% include 'EuroCoinBundle:Coin:popover_actions.html.twig' with { coin: coin, has_coin: has_coin } %}"></i>
								{% endif %}
							</div>
						</td>
					{% else %}
						{{ empty_cell }}
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr id="quantity-total">
			<th>{{ 'coin.total'|trans }}</th>
			{% for value, total in totals %}
				<th>
					<span class="pull-left quantity">{{ total|number_format }}</span>
					<span class="pull-right" title="{{ macros.value(total * value) }}" data-hover="tooltip" data-placement="left"><i class="icon-info-sign"></i></span>
				</th>
			{% endfor %}
		</tr>
	</tfoot>
	</table>
{% endif %}
{% endblock %}
