{% extends 'EuroCoinBundle:Coin:base.html.twig' %}

{% block content %}
{% if countries and coins|length > 0 %}
	{% set header_content %}
	{% for value in all_values %}
		<th>{{ macros.value(value) }}</th>
	{% endfor %}
	{% endset %}

	{% set hide_count = 0 %}
	{% set year_range = constant('Euro\\CoinBundle\\Controller\\CoinController::YEAR_RANGE_SIZE') %}

	<table class="table table-bordered table-condensed">
	<tbody>
		<tr>
			<th><i class="icon-minus" data-action="toggle-collection"></i></th>
			{{ header_content }}
		</tr>

		{% for year, values in coins %}
			{% set year_id = 0 %}
			{% if loop.index0 > 0 and loop.index0 % year_range == 0 %}
				{% set hide_count = year_range %}

				<tr class="values">
					<th><i class="icon-plus" data-action="toggle-collection"></i></th>
					{{ header_content }}
				</tr>
			{% endif %}

			<tr{% if hide_count > 0 %} class="hide"{% set hide_count = hide_count - 1 %}{% endif %}>
				{% set has_year = false %}
				{% for value in all_values if values[value] is defined and not has_year %}
					{% set has_year = true %}
					{% set year = macros.year(values[value].year) %}
					{% set year_id = values[value].year.id %}

					<td>{{ year }}</td>
				{% endfor %}

				{% for value in all_values %}
					{% if values[value] is defined %}
						{% set coin = values[value] %}

						{% if coin.active %}
							{% set has_coin = uc[coin.id] is defined %}

							<td class="coin{% if app.user and not has_coin %} error{% endif %}">
								<div class="btn-toolbar" data-coin="{{ coin.id }}">
									<div class="btn-group pull-left">
										<button class="btn btn-mini btn-info" title="{{ 'coin.information'|trans }}" data-action="query-coin-info" data-loading-text="?">?</button>

										{% if app.user %}
											<button class="btn btn-mini disabled" disabled="disabled" id="quantity-{{ coin.id }}" title="{{ 'coin.self_quantity'|trans }}">{{ has_coin ? uc[coin.id].quantity|number_format : 0 }}</button>
										{% else %}
											<button class="btn btn-mini disabled" disabled="disabled" id="quantity-{{ coin.id }}" title="{{ 'coin.mintage'|trans }}">{{ coin.mintage|number_format }}</button>
										{% endif %}
									</div>

									{% if app.user %}
										<i class="icon-cog pull-right" data-hover="popover" data-original-title="{{ macros.coin(coin)|e('html') }}" data-content="{% include 'EuroCoinBundle:Coin:popover_actions.html.twig' with { coin: coin, has_coin: has_coin } %}"></i>
									{% endif %}
								</div>
							</td>
						{% else %}
							<td class="coin info">
								<i class="icon-refresh pull-right" title="{{ 'coin.validating'|trans }}" data-hover="tooltip" data-html="true"></i>
							</td>
						{% endif %}
					{% else %}
						<td>
							<a class="pull-right" href="#modal-report-{{ loop.index }}" title="{{ 'coin.missing_coin'|trans }}" data-hover="tooltip" data-toggle="modal">
								<i class="icon-bullhorn"></i>
							</a>

							<div class="fade hide modal" id="modal-report-{{ loop.index }}" tabindex="-1" style="margin-left: 20%; width: 60%;">
								<div class="modal-header">
									<button class="close" type="button" data-dismiss="modal">×</button>

									<h3>{{ 'coin.propose_new.title'|trans }}</h3>
								</div>
								<div class="modal-body">
									<div class="row-fluid">
										<div class="span5">
											<p>{{ 'coin.propose_new.notice'|trans }}</p>

											<dl class="dl-horizontal">
												<dt>{{ 'coin.country'|trans }}</dt>
													<dd>{{ macros.name(current) }}</dd>

												<dt>{{ 'coin.year'|trans }}</dt>
													<dd>{{ year }}</dd>

												<dt>{{ 'coin.value'|trans }}</dt>
													<dd>{{ macros.value(value) }}</dd>
											</dl>
										</div>
										<div class="offset1 span6">
											<form action="#" id="report-form-{{ loop.index }}" method="post">
												<div class="control-group">
													<label class="control-label" for="mintage">{{ 'coin.mintage'|trans }}</label>
													<div class="controls">
														<input id="mintage" min="0" name="mintage" type="number" value="0" />
														<span class="help-block">{{ 'coin.propose_new.mintage_help'|trans }}</span>
													</div>
												</div>
												<div class="control-group">
													<label class="control-label" for="message">{{ 'coin.propose_new.message'|trans }}</label>
													<div class="controls">
														<textarea id="message" name="message"></textarea>
														<span class="help-block">{{ 'coin.propose_new.message_help'|trans }}</span>
													</div>
												</div>
												<div class="form-actions">
													<input name="country_id" type="hidden" value="{{ current.id }}" />
													<input name="value" type="hidden" value="{{ value }}" />
													<input name="year_id" type="hidden" value="{{ year_id }}" />

													<button class="btn btn-primary" type="submit">{{ 'coin.propose_new.propose'|trans }}</button>
													<button class="btn" type="button" data-dismiss="modal">{{ 'coin.propose_new.close'|trans }}</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr id="quantity-total">
			<th>{{ 'coin.total'|trans }}</th>
			{% for value, total in totals %}
				<th>
					<span class="pull-left quantity">{{ total|number_format }}</span>
					<span class="pull-right" title="{{ macros.value(total * value) }}" data-hover="tooltip" data-placement="left"><i class="icon-info-sign"></i></span>
				</th>
			{% endfor %}
		</tr>
	</tfoot>
	</table>
{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function () {
	$('form[id^=report-form-]').on('submit', function (e) {
		e.preventDefault();

		var json = {};
		var formData = $(this).serializeArray();
		for (var i = 0; i < formData.length; ++i) {
			json[formData[i].name] = formData[i].value;
		}

		// Send AJAX request
		// Refresh page
	});
});
</script>
{% endblock %}
