{% extends '::base.html.twig' %}

{% block title %}{{ 'coin.list_doubles_share'|trans }}{% endblock %}

{% block body %}
<div class="page-header">
	<h1>{{ block('title') }}</h1>
</div>

{% if coins %}
	{% set country, user = '', '' %}

	{% set empty_cell %}
	<td>-</td>
	{% endset %}

	{% set commemorative %}
	<span class="badge-valid badge-success" title="{{ 'coin.commemorative'|trans }}"><i class="icon-white icon-ok"></i></span>
	{% endset %}

	<div class="alert alert-info">
		{{ 'double.share.coin'|trans({ '%coin%': macros.coin(coin) })|raw }}
	</div>

	{% for coin in coins %}
		{% if country != coin.country %}
			{% set country = coin.country %}
			{% if not loop.first %}
					{% for n in range(column + 1, nbval) if column < nbval %}
						{{ empty_cell }}
					{% endfor %}
					</tr>
				</tbody>
				</table>
			{% endif %}

			{% if user != users[coin.id] %}
				{% set user = users[coin.id] %}

				<div class="page-header">
					<h3><a href="{{ path('user_view', { id: user.id }) }}">{{ user.username }}</a></h3>
				</div>
			{% endif %}

			<table class="table table-bordered table-condensed table-striped">
			<thead>
				<tr>
					<th><a href="{{ path('country_show', { id: coin.country.id }) }}">{{ coin.country|trans }}</a></th>
					{% for value in coin_values[coin.country.id] %}
					<th>{{ value }}</th>
					{% endfor %}

					{% set changed, column, year = false, 0, '1990' %}
					{% set nbval, val = coin_values[coin.country.id]|length - 1, coin_values[coin.country.id] %}
				</tr>
			</thead>
			<tbody>
		{% endif %}

		{% if year != coin.year %}
			{% if not loop.first and year != '1990' %}
				{% for n in range(column + 1, nbval) if column < nbval %}
					{{ empty_cell }}
				{% endfor %}
				</tr>
			{% endif %}

		<tr>
			<td>{{ macros.year(coin.year) }}</td>
			{% set changed, column, year = false, 0, coin.year %}
		{% endif %}

		{% if val[column] != coin.value %}
			{% for n in range(column + 1, nbval) %}
				{% if not changed %}
					{{ empty_cell }}
				{% endif %}

				{% if val[n] == coin.value %}
					{% set column = n %}
					{% set changed = true %}
				{% endif %}

				{% if changed and val[n] > coin.value %}
					{{ empty_cell }}
				{% endif %}
			{% endfor %}
		{% else %}
			{% set column = column + 1 %}
		{% endif %}

		<td><a href="#">{{ 'double.share'|trans }}</a></td>

		{% if loop.last %}
				{% for n in range(column + 1, nbval) if column < nbval %}
					{{ empty_cell }}
				{% endfor %}
				</tr>
			</tbody>
			</table>
		{% endif %}
	{% endfor %}
{% else %}
<div class="alert alert-info">
	{{ 'coin.doubles.user.none'|trans }}
</div>
{% endif %}
{% endblock %}
