{% extends 'EuroCoinBundle::base.html.twig' %}

{% block title %}{{ 'coin.list'|trans }}{% endblock %}

{% block empty_cell %}<td>-</td>{% endblock %}

{% block commemorative %}
<span class="badge-valid badge-success" title="{{ 'coin.commemorative'|trans }}"><i class="icon-white icon-ok"></i></span>
{% endblock %}

{% block body %}
{% set total_coins = 0 %}

<div class="page-header">
	<h1>{{ block('title') }} <small><a href="{{ path('coin_new') }}">{{ 'coin.add'|trans }}</a></small></h1>
</div>

{% if coins %}
{% if commemoratives or countries or values or years or filters %}
<div class="row-fluid">
	<div class="span2">
		<div class="nav nav-list">
			<div class="nav-header">{{ 'filters'|trans }}</div>
		</div>

		{% if commemoratives or countries or values or years %}
		<div class="accordion" id="filters">
			{% if countries %}
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-parent="#filters" data-toggle="collapse" href="#filter_country">{{ 'countries'|trans }}</a>
				</div>
				<div class="accordion-body collapse" id="filter_country">
					<div class="accordion-inner">
						<ul>
							{% for id, country in countries %}
							<li><a href="{{ path('coin_filter', filters|merge({ country: id })) }}">{{ country|trans }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}

			{% if years %}
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-parent="#filters" data-toggle="collapse" href="#filter_year">{{ 'coin.year'|trans }}</a>
				</div>
				<div class="accordion-body collapse" id="filter_year">
					<div class="accordion-inner">
						<ul>
							{% for year in years %}
							<li><a href="{{ path('coin_filter', filters|merge({ year: year })) }}">{{ year }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}

			{% if values %}
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-parent="#filters" data-toggle="collapse" href="#filter_value">{{ 'value.value'|trans }}</a>
				</div>
				<div class="accordion-body collapse" id="filter_value">
					<div class="accordion-inner">
						<ul>
							{% for id, value in values %}
							<li><a href="{{ path('coin_filter', filters|merge({ value: id })) }}">{{ value }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}

			{% if commemoratives %}
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-parent="#filters" data-toggle="collapse" href="#filter_commemorative">{{ 'coin.commemorative'|trans }}</a>
				</div>
				<div class="accordion-body collapse" id="filter_commemorative">
					<div class="accordion-inner">
						<ul>
							<li><a href="{{ path('coin_filter', filters|merge({ commemorative: 1 })) }}">{{ 'yes'|trans }}</a></li>
							<li><a href="{{ path('coin_filter', filters|merge({ commemorative: 0 })) }}">{{ 'no'|trans }}</a></li>
						</ul>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
		{% endif %}

		{% set has_filter = false %}
		{% for name, value in filters %}
			{% if value|trim %}
				{% set has_filter = true %}

				<div class="control-group">
					<div class="input-append">
						<span class="span1 uneditable-input">{{ name|capitalize|trans }}</span><a class="btn btn-info" href="{{ path('coin_filter', filters|reset(name)) }}" title="{{ 'action.reset'|trans }}"><i class="icon-white icon-remove"></i></a>
					</div>
				</div>
			{% endif %}
		{% endfor %}

		{% if has_filter %}
		<a class="btn" href="{{ path('coin') }}">{{ 'action.reset_all'|trans }}</a>
		{% endif %}
	</div>

	<div class="span10">
		{% endif %}

		{% set country = '' %}

		{% for coin in coins %}
			{% if country != coin.country %}
				{% set country = coin.country %}
				{% if not loop.first %}
						{% for n in range(columns, nbval) if columns < nbval %}
							{{ block('empty_cell') }}
						{% endfor %}
						</tr>
					</tbody>
					</table>
				{% endif %}

				<table class="table table-bordered table-condensed table-striped">
				<thead>
					<tr>
						<th>{{ coin.country|trans }}</th>
						{% for value in coin_values[coin.country.id] %}
						<th>{{ value }}</th>
						{% endfor %}

						{% set changed, columns, year = false, 0, 1990 %}
						{% set nbval, val = coin_values[coin.country.id]|length - 1, coin_values[coin.country.id] %}
					</tr>
				</thead>
				<tbody>
			{% endif %}

			{% if year != coin.year %}
				{% if not loop.first and year != 1990 %}
					{% for n in range(columns + 1, nbval) if columns < nbval %}
						{{ block('empty_cell') }}
					{% endfor %}
					</tr>
				{% endif %}

			<tr>
				<td>{{ coin.year }}</td>
				{% set changed, columns, year = false, 0, coin.year %}
			{% endif %}

			{% if val[columns] != coin.value %}
				{% for n in range(columns + 1, nbval) %}
					{% if not changed %}
						{{ block('empty_cell') }}
					{% endif %}

					{% if val[n] == coin.value %}
						{% set columns = n %}
						{% set changed = true %}
					{% endif %}

					{% if changed and val[n] > coin.value %}
						{{ block('empty_cell') }}
					{% endif %}
				{% endfor %}
			{% else %}
				{% set columns = columns + 1 %}
			{% endif %}

			<td>
				{% if coin.commemorative %}
					{{ block('commemorative') }}
				{% endif %}

				<a href="{{ path('coin_edit', { 'id': coin.id }) }}">{{ coin.mintage|number_format }}</a>
			</td>

			{% if loop.last %}
					{% for n in range(columns + 1, nbval) if columns < nbval %}
						{{ block('empty_cell') }}
					{% endfor %}
					</tr>
				</tbody>
				</table>
			{% endif %}
		{% endfor %}
		{% if commemoratives or countries or values or years or filters %}
	</div>
</div>
{% endif %}
{% else %}
<div class="alert alert-info">
	{{ 'coin.none'|trans }}
</div>
{% endif %}
{% endblock %}
