{% extends 'EuroCoinBundle::base.html.twig' %}

{% block title %}{{ 'coin.list'|trans }}{% endblock %}

{% block body %}
{% set total_coins = 0 %}

<div class="page-header">
	<h1>{{ block('title') }} <small><a href="{{ path('coin_new') }}">{{ 'coin.add'|trans }}</a></small></h1>
</div>

{% if coins %}
<table class="table table-bordered table-condensed table-striped">
<thead>
	<tr>
		<th>{{ 'coin.name'|trans }}</th>
		<th>{{ 'coin.commemorative'|trans }}</th>
		<th>{{ 'coin.mintage'|trans }}</th>
		<th>{{ 'coin.description'|trans }}</th>
		<th>{{ 'actions'|trans }}</th>
	</tr>
</thead>
<tbody>
{% for coin in coins %}
	<tr>
		<td><a href="{{ path('coin_show', { 'id': coin.id }) }}">{{ coin.country|trans }} - {{ coin.year }} - {{ coin.value }}</a></td>
		<td>{{ macros.bool(coin.commemorative) }}</td>
		<td>{{ coin.mintage|number_format }}</td>
		<td>{{ coin.description|trans }}</td>
		<td><a href="{{ path('coin_edit', { 'id': coin.id }) }}">{{ 'action.edit'|trans }}</a></td>
	</tr>

	{% set total_coins = total_coins + coin.mintage %}
{% endfor %}
</tbody>
<tfoot>
	<th>{{ 'coin.total'|trans }}</th>
	<th></th>
	<th>{{ total_coins|number_format }}</th>
	<th></th>
	<th></th>
</tfoot>
</table>
{% else %}
<div class="alert alert-info">
	{{ 'coin.none'|trans }}
</div>
{% endif %}
{% endblock %}
