{% if popover %}
{% import "EuroCoinBundle::macros.html.twig" as macros %}

<div class="hide" id="coin-info-{{ coin.id }}">
{% endif %}

{% if coin %}
	<dl{% if popover %} class="dl-horizontal"{% endif %}>
		<dt>{{ 'coin.country'|trans }}</dt>
		<dd>
			{% if not popover %}
			<a href="{{ path('country_show', { 'id': coin.country.id }) }}">
			{% endif %}
			{{ coin.country|trans }}
			{% if not popover %}
			</a>
			{% endif %}
		</dd>
		<dt>{{ 'coin.year'|trans }}</dt>
		<dd>{{ macros.year(coin.year) }}</dd>
		<dt>{{ 'coin.value'|trans }}</dt>
		<dd>{{ macros.value(coin.value) }}</dd>
		<dt>{{ 'coin.commemorative'|trans }}</dt>
		<dd>{{ macros.bool(coin.commemorative) }}</dd>
		<dt>{{ 'coin.mintage'|trans }}</dt>
		<dd>{{ coin.mintage|number_format }}</dd>
		<dt>{{ 'coin.membertotal'|trans }}</dt>
		<dd>{{ coin.membertotal|number_format }}</dd>
		{% if coin.description %}
		<dt>{{ 'coin.description'|trans }}</dt>
		<dd>{{ coin.description|trans }}</dd>
		{% endif %}
	</dl>
{% else %}
	<div class="alert alert-info">
		{{ 'coin.not_found'|trans }}
	</div>
{% endif %}

{% if popover %}
</div>
{% endif %}
