{% extends '::base.html.twig' %}

{% block meta_description %}{{ 'stats.meta_description'|trans }}{% endblock %}

{% block title %}{{ 'stats'|trans }}{% endblock %}

{% block body %}
<h2 class="page-header">{{ block('title') }}</h2>

<ul class="nav nav-tabs">
	<li class="active"><a href="#members" data-toggle="tab">{{ 'stats.cat_members'|trans }}</a></li>
	<li><a href="#countries" data-toggle="tab">{{ 'stats.cat_countries'|trans }}</a></li>
	<li><a href="#collections" data-toggle="tab">{{ 'stats.cat_collections'|trans }}</a></li>
	<li><a href="#exchanges" data-toggle="tab">{{ 'stats.exchanges'|trans }}</a></li>
	<li><a href="#coins" data-toggle="tab">Coins</a></li>
</ul>

<div class="tab-content">
	<div class="active tab-pane" id="members">
		{% include 'EuroCoinBundle:Coin:stats_members.html.twig' %}
	</div>
	<div class="tab-pane" id="countries">
		{% include 'EuroCoinBundle:Coin:stats_countries.html.twig' %}
	</div>
	<div class="tab-pane" id="collections">
		{% include 'EuroCoinBundle:Coin:stats_collections.html.twig' %}
	</div>
	<div class="tab-pane" id="exchanges">
		{% include 'EuroCoinBundle:Coin:stats_exchanges.html.twig' %}
	</div>
	<div class="tab-pane" id="coins">
		{% include 'EuroCoinBundle:Coin:stats_coins.html.twig' %}
	</div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/eurocoin/js/highcharts.js') }}" type="text/javascript"></script>
<script type="text/javascript">
$(function () {
	var categories = [
		{%- for country in countries -%}
			{%- set name = macros.name(country) -%}
			'<img alt="{{ name }}" src="{% path country.flag, 'mini' %}" title="{{ name }}" data-hover="tooltip" data-placement="right" />'
			{%- if not loop.last %}, {% endif -%}
		{%- endfor -%}
	];
	var defaultOptions = {
		legend: {
			enabled: false
		},
		title: {
			text: ' '
		},
		yAxis: {
			title: {
				enabled: false
			}
		}
	};
	var tooltipFormatter = function () {
		return this.x + ' <b>' + $(this.x).attr('title') + '</b><br />' +
			'<span style="color: ' + this.series.color + ';">' + this.series.name + ' :</span> ' +
			'<b>' + Highcharts.numberFormat(this.y, 0) + '</b>';
	};

	$('#chart_top_countries').highcharts($.extend(defaultOptions, {
		chart: {
			type: 'column'
		},
		xAxis: {
			categories: [
				{%- for country in country_stats -%}
					{%- set country = country[0].country -%}
					{%- set name = macros.name(country) -%}
					'<img alt="{{ name }}" src="{% path country.flag, 'mini' %}" title="{{ name }}" data-hover="tooltip" data-placement="top" />'
					{%- if not loop.last %}, {% endif -%}
				{%- endfor -%}
			],
			labels: {
				useHTML: true
			}
		},
		tooltip: {
			formatter: function () {
				return this.x + ' <b>' + $(this.x).attr('title') + '</b><br />' +
					'<span style="color: ' + this.series.color + ';">{{ 'stats.total_coins'|trans }} :</span> ' +
					'<b>' + Highcharts.numberFormat(this.y, 0) + '</b>';
			},
			useHTML: true
		},
		series: [{
			data: [
				{%- for country in country_stats %}
					{{- country.total -}}
					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}]
	}));

	$('#chart_unique_coins').highcharts($.extend(defaultOptions, {
		chart: {
			type: 'bar'
		},
		title: {
			text: '{{ 'stats.unique_coins'|trans }}'
		},
		xAxis: {
			categories: categories,
			labels: {
				useHTML: true
			}
		},
		tooltip: {
			formatter: tooltipFormatter,
			useHTML: true
		},
		series: [{
			name: '{{ 'stats.unique_coins'|trans }}',
			data: [
				{%- for country in countries %}
					{{- euro_stats.country[country.id].total -}}
					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}]
	}));

	$('#chart_minted_coins').highcharts($.extend(defaultOptions, {
		chart: {
			type: 'bar'
		},
		title: {
			text: '{{ 'stats.minted_coins'|trans }}'
		},
		xAxis: {
			categories: categories,
			labels: {
				useHTML: true
			}
		},
		tooltip: {
			formatter: tooltipFormatter,
			useHTML: true
		},
		series: [{
			name: '{{ 'stats.minted_coins'|trans }}',
			data: [
				{%- for country in countries %}
					{{- euro_stats.country[country.id].mintage -}}
					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}]
	}));

	$('#chart_biggest_collections').highcharts($.extend(defaultOptions, {
		chart: {
			type: 'column'
		},
		xAxis: {
			categories: [
				{%- for user in biggest_collection_stats -%}
					'{{ user[0].user.username }}'
					{%- if not loop.last %}, {% endif -%}
				{%- endfor -%}
			],
			labels: {
				rotation: -45
			}
		},
		legend: {
			enabled: true
		},
		tooltip: {
			shared: true
		},
		title: {
			text: ' '
		},
		series: [{
			name: '{{ 'stats.unique_coins'|trans }}',
			data: [
				{%- for user in biggest_collection_stats %}
					{{- user.total_unique_coins -}}
					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}, {
			name: '{{ 'stats.total_coins'|trans }}',
			data: [
				{%- for user in biggest_collection_stats %}
					{{- user.total_coins -}}
					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}]
	}));

	$('#chart_most_valued_collections').highcharts($.extend(defaultOptions, {
		chart: {
			type: 'column'
		},
		xAxis: {
			categories: [
				{%- for user in most_value_collection_stats -%}
					'{{ user[0].user.username }}'
					{%- if not loop.last %}, {% endif -%}
				{%- endfor -%}
			],
			labels: {
				rotation: -45
			}
		},
		legend: {
			enabled: true
		},
		tooltip: {
			pointFormat: '<span style="color: {series.color};">{series.name}</span>: <b>{point.y:.2f} &euro;</b><br/>',
			shared: true,
			useHTML: true
		},
		title: {
			text: ' '
		},
		series: [{
			name: '{{ 'stats.total_unique'|trans }}',
			data: [
				{%- for user in most_value_collection_stats -%}
					{{- user.total_unique_value -}}
					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}, {
			name: '{{ 'stats.total_amount'|trans }}',
			data: [
				{%- for user in most_value_collection_stats -%}
					{{- user.total_value -}}
					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}]
	}));

	$('#chart_user_exchanges').highcharts($.extend(defaultOptions, {
		chart: {
			type: 'column'
		},
		xAxis: {
			categories: [
				{%- for exchange in user_exchanges -%}
					'{{- exchange.user.username -}}'
					{%- if not loop.last %}, {% endif -%}
				{%- endfor -%}
			],
			labels: {
				rotation: -45
			}
		},
		tooltip: {
			pointFormat: '<span style="color: {series.color};">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f} %)<br />',
			shared: true
		},
		plotOptions: {
			column: {
				stacking: 'percent'
			}
		},
		series: [
			{%- for i in 1..4 -%}
				{
					name: '{{ ('exchange.status' ~ i)|trans }}',
					data: [
						{%- for exchange in user_exchanges -%}
							{{ exchange[i] }}
							{%- if not loop.last -%}, {% endif -%}
						{%- endfor -%}
					]
				}
				{%- if not loop.last %}, {% endif -%}
			{%- endfor -%}
		]
	}));

	$('#chart_exchanges').highcharts($.extend(defaultOptions, {
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: true,
					color: '#000000',
					format: '<b>{point.name}:</b> {point.y}  ({point.percentage:.0f} %)'
				}
			}
		},
		tooltip: {
			enabled: false
		},
		series: [{
			type: 'pie',
			data: [
				{%- for exchange in exchanges -%}
					{%- if exchange.status == 2 -%}
						{
							name: '{{ 'exchange.status2'|trans }}',
							y: {{ exchange.total }},
							sliced: true,
							selected: true
						}
					{%- else -%}
						['{{ ('exchange.status' ~ exchange.status)|trans }}', {{ exchange.total }}]
					{%- endif -%}

					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}]
	}));
});
</script>
{% endblock %}
