{% extends '::base.html.twig' %}

{% block meta_description %}{{ 'stats.meta_description'|trans }}{% endblock %}

{% block title %}{{ 'stats'|trans }}{% endblock %}

{% block body %}
<h2 class="page-header">{{ block('title') }}</h2>

<div class="row-fluid">
	<div class="span6">
		<h3 class="page-header">{{ 'stats.users'|trans }}</h3>

		{{ 'stats.total_users'|transchoice(user_stats.total, { '%total%': user_stats.total|number_format })|raw -}}
		{% for gender, members in user_stats.gender %}
			{{ ('user.gender' ~ gender ~ '_count')|transchoice(members, { '%total%': members|number_format })|raw }}

			{% if loop.length - loop.index == 1 %}{{ 'and'|trans }}{% elseif not loop.last %}, {% endif %}
		{% endfor %}
		.<br />

		{{ 'stats.average_age'|trans({ '%age%': user_stats.age })|raw }}<br />
		{{ 'stats.users_from'|trans }}

		<table class="table table-condensed table-hover table-striped">
		<thead>
			<tr>
				<th>{{ 'stats.country'|trans }}</th>
				<th>{{ 'stats.registered_members'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for country, members in user_stats.country %}
				{% set name = country|country %}

				<tr>
					<td>
						<img alt="{{ name }}" src="{{ asset('bundles/applicationsonatauser/images/' ~ country|lower ~ '.png') }}" title="{{ name }}" data-hover="tooltip" data-placement="right" />

						{% if countries[country] is defined %}<a href="{{ path('coin_collection1', { id: countries[country].id, country: name }) }}">{% endif %}
							{{ name }}
						{% if countries[country] is defined %}</a>{% endif %}
					</td>
					<td>{{ members|number_format }}</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>

		<h3 class="page-header">{{ 'stats.top_countries'|trans }}</h3>

		<div class="hidden-phone" id="chart_top_countries"></div>

		<table class="table table-condensed table-hover table-striped visible-phone">
		<thead>
			<tr>
				<th>{{ 'stats.country'|trans }}</th>
				<th>{{ 'stats.total_coins'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for country in country_stats %}
				{% set country, total = country[0].country, country.total %}
				{% set name = macros.name(country) %}

				<tr>
					<td>
						<img alt="{{ name }}" src="{% path country.flag, 'mini' %}" title="{{ name }}" data-hover="tooltip" data-placement="right" />

						<a href="{{ path('coin_collection1', { id: country.id, country: name }) }}">
							{{ name }}
						</a>
					</td>
					<td>{{ 'coins'|transchoice(total, { '%total%': total|number_format }) }}</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
	<div class="span6">
		<h3 class="page-header">{{ 'stats.country'|trans }}</h3>

		{{ 'stats.coins_repartition'|trans({ '%total_coins%': euro_stats.total_coins|number_format, '%total_countries%': euro_stats.total_countries|number_format })|raw }}

		<div class="hidden-phone" id="chart_unique_coins"></div>
		<div class="hidden-phone" id="chart_minted_coins"></div>

		<table class="table table-condensed table-hover table-striped visible-phone">
		<thead>
			<tr>
				<th>{{ 'stats.country'|trans }}</th>
				<th>{{ 'stats.unique_coins'|trans }}</th>
				<th>{{ 'stats.minted_coins'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for country in countries %}
				{% set name = macros.name(country) %}

				<tr>
					<td>
						<img alt="{{ name }}" src="{% path country.flag, 'mini' %}" title="{{ name }}" data-hover="tooltip" data-placement="right" />

						<a href="{{ path('coin_collection1', { id: country.id, country: name }) }}">
							{{ name }}
						</a>
					</td>
					<td>{{ 'coins'|transchoice(euro_stats.country[country.id].total, { '%total%': euro_stats.country[country.id].total|number_format }) }}</td>
					<td>{{ 'coins'|transchoice(euro_stats.country[country.id].mintage, { '%total%': euro_stats.country[country.id].mintage|number_format }) }}</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
</div>

<div class="row-fluid">
	<div class="span6">
		<h3 class="page-header">{{ 'stats.biggest_collections'|trans }}</h3>

		<div class="hidden-phone" id="chart_biggest_collections"></div>

		<table class="table table-condensed table-hover table-striped visible-phone">
		<thead>
			<tr>
				<th>{{ 'stats.user'|trans }}</th>
				<th>{{ 'stats.unique_coins'|trans }}</th>
				<th>{{ 'stats.total_coins'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for user in biggest_collection_stats %}
				{% set user, total, total_uniques = user[0].user, user.total_coins, user.total_unique_coins %}

				<tr>
					<td>
						{% if user.country %}
							{% set image = {
								src: asset('bundles/applicationsonatauser/images/' ~ user.country|lower ~ '.png'),
								title: user.country|country
							} %}
						{% else %}
							{% set image = {
								src: gravatar(user.email, 16),
								title: user.username
							} %}
						{% endif %}

						<img alt="{{ image.title }}" src="{{ image.src }}" title="{{ image.title }}" data-hover="tooltip" data-placement="right" />

						<a href="{{ path('show_user_collection1', { user_id: user.id }) }}"{% if not user.publicprofile %} rel="nofollow"{% endif %}>
							{{ user.username }}
						</a>
					</td>
					<td>{{ 'coins.differents'|transchoice(total_uniques, { '%total%': total_uniques|number_format }) }}</td>
					<td>{{ 'coins'|transchoice(total, { '%total%': total|number_format }) }}</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
	<div class="span6">
		<h3 class="page-header">{{ 'stats.most_valued_collections'|trans }}</h3>

		<div class="hidden-phone" id="chart_most_valued_collections"></div>

		<table class="table table-condensed table-hover table-striped visible-phone">
		<thead>
			<tr>
				<th>{{ 'stats.user'|trans }}</th>
				<th>{{ 'stats.total_unique'|trans }}</th>
				<th>{{ 'stats.total_amount'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for user in most_value_collection_stats %}
				{% set user, total, total_unique = user[0].user, user.total_value, user.total_unique_value %}

				<tr>
					<td>
						{% if user.country %}
							{% set image = {
								src: asset('bundles/applicationsonatauser/images/' ~ user.country|lower ~ '.png'),
								title: user.country|country
							} %}
						{% else %}
							{% set image = {
								src: gravatar(user.email, 16),
								title: user.username
							} %}
						{% endif %}

						<img alt="{{ image.title }}" src="{{ image.src }}" title="{{ image.title }}" data-hover="tooltip" data-placement="right" />

						<a href="{{ path('show_user_collection1', { user_id: user.id }) }}"{% if not user.publicprofile %} rel="nofollow"{% endif %}>
							{{ user.username }}
						</a>
					</td>
					<td>{{ macros.value(total_unique) }}</td>
					<td>{{ macros.value(total) }}</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/eurocoin/js/highcharts.js') }}" type="text/javascript"></script>
<script type="text/javascript">
$(function () {
	var categories = [
		{%- for country in countries -%}
			{%- set name = macros.name(country) -%}
			'<img alt="{{ name }}" src="{% path country.flag, 'mini' %}" title="{{ name }}" data-hover="tooltip" data-placement="right" />'
			{%- if not loop.last %}, {% endif -%}
		{%- endfor -%}
	];
	var defaultOptions = {
		legend: {
			enabled: false
		},
		title: {
			text: ' '
		},
		yAxis: {
			title: {
				enabled: false
			}
		}
	};
	var tooltipFormatter = function () {
		return this.x + ' <b>' + $(this.x).attr('title') + '</b><br />' +
			'<span style="color: ' + this.series.color + ';">' + this.series.name + ' :</span> ' +
			'<b>' + Highcharts.numberFormat(this.y, 0) + '</b>';
	};

	$('#chart_top_countries').highcharts($.extend(defaultOptions, {
		chart: {
			type: 'column'
		},
		xAxis: {
			categories: [
				{%- for country in countries -%}
					{%- set name = macros.name(country) -%}
					'<img alt="{{ name }}" src="{% path country.flag, 'mini' %}" title="{{ name }}" data-hover="tooltip" data-placement="top" />'
					{%- if not loop.last %}, {% endif -%}
				{%- endfor -%}
			],
			labels: {
				useHTML: true
			}
		},
		tooltip: {
			formatter: function () {
				return this.x + ' <b>' + $(this.x).attr('title') + '</b><br />' +
					'<span style="color: ' + this.series.color + ';">{{ 'stats.total_coins'|trans }} :</span> ' +
					'<b>' + Highcharts.numberFormat(this.y, 0) + '</b>';
			},
			useHTML: true,
		},
		series: [{
			data: [
				{%- for country in country_stats %}
					{{- country.total -}}
					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}]
	}));

	$('#chart_unique_coins').highcharts($.extend(defaultOptions, {
		chart: {
			type: 'bar'
		},
		title: {
			text: '{{ 'stats.unique_coins'|trans }}'
		},
		xAxis: {
			categories: categories,
			labels: {
				useHTML: true
			}
		},
		tooltip: {
			formatter: tooltipFormatter,
			useHTML: true,
		},
		series: [{
			name: '{{ 'stats.unique_coins'|trans }}',
			data: [
				{%- for country in countries %}
					{{- euro_stats.country[country.id].total -}}
					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}]
	}));

	$('#chart_minted_coins').highcharts($.extend(defaultOptions, {
		chart: {
			type: 'bar'
		},
		title: {
			text: '{{ 'stats.minted_coins'|trans }}'
		},
		xAxis: {
			categories: categories,
			labels: {
				useHTML: true
			}
		},
		tooltip: {
			formatter: tooltipFormatter,
			useHTML: true,
		},
		series: [{
			name: '{{ 'stats.minted_coins'|trans }}',
			data: [
				{%- for country in countries %}
					{{- euro_stats.country[country.id].mintage -}}
					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}]
	}));

	$('#chart_biggest_collections').highcharts($.extend(defaultOptions, {
		chart: {
			type: 'column'
		},
		xAxis: {
			categories: [
				{%- for user in biggest_collection_stats -%}
					'{{ user[0].user.username }}'
					{%- if not loop.last %}, {% endif -%}
				{%- endfor -%}
			],
			labels: {
				rotation: -45,
				useHTML: true
			}
		},
		legend: {
			enabled: true
		},
		tooltip: {
			shared: true
		},
		series: [{
			name: '{{ 'stats.unique_coins'|trans }}',
			data: [
				{%- for user in biggest_collection_stats %}
					{{- user.total_unique_coins -}}
					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}, {
			name: '{{ 'stats.total_coins'|trans }}',
			data: [
				{%- for user in biggest_collection_stats %}
					{{- user.total_coins -}}
					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}]
	}));

	$('#chart_most_valued_collections').highcharts($.extend(defaultOptions, {
		chart: {
			type: 'column'
		},
		xAxis: {
			categories: [
				{%- for user in most_value_collection_stats -%}
					'{{ user[0].user.username }}'
					{%- if not loop.last %}, {% endif -%}
				{%- endfor -%}
			],
			labels: {
				rotation: -45,
				useHTML: true
			}
		},
		legend: {
			enabled: true
		},
		tooltip: {
			pointFormat: '<span style="color: {series.color};">{series.name}</span>: <b>{point.y:.2f} &euro;</b><br/>',
			shared: true,
			useHTML: true
		},
		series: [{
			name: '{{ 'stats.total_unique'|trans }}',
			data: [
				{%- for user in most_value_collection_stats -%}
					{{- user.total_unique_value -}}
					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}, {
			name: '{{ 'stats.total_amount'|trans }}',
			data: [
				{%- for user in most_value_collection_stats -%}
					{{- user.total_value -}}
					{%- if not loop.last %}, {% endif -%}
				{% endfor -%}
			]
		}]
	}));
});
</script>
{% endblock %}
