{% extends 'EuroPageBundle:Page:base.html.twig' %}

{% block meta_description %}{{ 'contact.meta_description'|trans }}{% endblock %}

{% block title %}{{ 'contact'|trans }}{% endblock %}

{% block content %}
<form action="{{ path('contact') }}" class="form-centered" method="post">
	{% if app.user %}
		{% set disabled_attr = { 
			class: 'span12',
			readonly: 'readonly'
		} %}

		{{ form_row(form.name, { attr: disabled_attr, label: 'contact.name'|trans, value: app.user.username }) }}
		{{ form_row(form.email, { attr: disabled_attr, label: 'contact.email'|trans, value: app.user.email }) }}
	{% else %}
		{{ form_row(form.name, { attr: { class: 'span12' }, label: 'contact.name'|trans }) }}
		{{ form_row(form.email, { attr: { class: 'span12' }, label: 'contact.email'|trans }) }}
	{% endif %}

	{{ form_row(form.subject, { attr: { class: 'span12' }, label: 'contact.subject'|trans }) }}
	{{ form_row(form.message, { attr: { class: 'span12', rows: 6 }, label: 'contact.message'|trans }) }}

	{{ form_rest(form) }}

	<button class="btn btn-primary" type="submit">{{ 'contact.send'|trans }}</button>
</form>
{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/sonatamarkitup/markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/sonatamarkitup/markitup/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/sonatamarkitup/markitup/markitup/sets/html/set.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/sonatamarkitup/markitup/markitup/sets/textile/set.js') }}" type="text/javascript"></script>
{% endblock %}
