<h4>{{ 'news.comment.add'|trans }}</h4>

<form action="{{ url('sonata_news_add_comment', { id: post_id }) }}" method="post">
	{{ form_row(form.name, { label: 'comment.author.name'|trans }) }}
	{{ form_row(form.email, { label: 'comment.author.email'|trans }) }}
	{{ form_row(form.url, { label: 'comment.author.website'|trans }) }}
	{{ form_row(form.message, { label: 'comment.message'|trans }) }}

	{{ form_rest(form) }}

	<div class="form-actions">
		<button class="btn btn-primary" type="submit">{{ 'news.comment.post'|trans }}</button>
	</div>
</form>
