<div class="control-group">
	<div class="controls">
		<div class="btn-toolbar" data-action="editor" data-target="{{ target }}">
			<div class="btn-group">
				<div class="btn editor-bold" title="{{ 'edit.bold.title'|trans }}"><strong>{{ 'edit.bold.symbol'|trans }}</strong></div>
				<div class="btn editor-italic" title="{{ 'edit.italic.title'|trans }}"><em>{{ 'edit.italic.symbol'|trans }}</em></div>
				<div class="btn editor-underline" title="{{ 'edit.underline.title'|trans }}"><u>{{ 'edit.underline.symbol'|trans }}</u></div>
			</div>

			<div class="btn-group">
				<div class="btn editor-list" title="{{ 'edit.list.title'|trans }}"><i class="icon-list"></i></div>
				<div class="btn editor-ordered-list" title="{{ 'edit.list-ordered.title'|trans }}">{{ 'edit.list-ordered.symbol'|trans|raw }}</div>
			</div>

			<div class="btn-group">
				<div class="btn editor-link" title="{{ 'edit.link.title'|trans }}"><i class="icon-globe"></i></div>
				<div class="btn editor-image" title="{{ 'edit.image.title'|trans }}"><i class="icon-picture"></i></div>
				<div class="btn editor-separator" title="{{ 'edit.separator.title'|trans }}">&ndash;</div>
			</div>
		</div>
	</div>
</div>
