{% block form_widget_simple %}
{% spaceless %}
	{% set type = type|default('text') %}

	<div class="controls">
		<input {{ block('widget_attributes') }} type="{{ type }}"{% if value is not empty %} value="{{ value }}"{% endif %} />
		{{ form_errors(form) }}
	</div>
{% endspaceless %}
{% endblock %}

{% block textarea_widget %}
{% spaceless %}
	<div class="controls">
		<textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
		{{ form_errors(form) }}
	</div>
{% endspaceless %}
{% endblock %}

{% block choice_widget %}
{% spaceless %}
	{% if expanded %}
		{{ block('choice_widget_expanded') }}
	{% else %}
		{{ block('choice_widget_collapsed') }}
	{% endif %}
{% endspaceless %}
{% endblock %}

{% block choice_widget_expanded %}
{% spaceless %}
	{% for child in form %}
		{{ form_widget(child) }}
	{% endfor %}
{% endspaceless %}
{% endblock %}

{% block radio_widget %}
{% spaceless %}
	<label class="control-label inline radio">
		<input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />

		{{ label|trans({}, translation_domain) }}
	</label>
{% endspaceless %}
{% endblock %}

{% block form_label %}
{% spaceless %}
	{% set label_attr = label_attr|merge({ class: (label_attr.class|default('') ~ ' control-label')|trim }) %}

	{% if not compound %}
		{% set label_attr = label_attr|merge({ for: id }) %}
	{% endif %}

	{% if required %}
		{% set label_attr = label_attr|merge({ class: (label_attr.class|default('') ~ ' required')|trim }) %}
	{% endif %}

	{% if label is empty %}
		{% set label = name|humanize %}
	{% endif %}

	<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
		{{ label|trans({}, translation_domain) }}

		{% if required %}
			*
		{% endif %}
	</label>
{% endspaceless %}
{% endblock %}

{% block form_row %}
{% spaceless %}
	<div class="control-group{% if errors|length > 0 %} error{% endif %}">
		{{ form_label(form) }}
		{{ form_widget(form) }}
	</div>
{% endspaceless %}
{% endblock %}

{% block date_widget %}
{% spaceless %}
	<div class="controls">
		{% if widget == 'single_text' %}
			{{ block('form_widget_simple') }}
		{% else %}
			<div class="row-fluid" {{ block('widget_container_attributes') }}>
				{{ date_pattern|replace({
					'{{ year }}':  form_widget(form.year, { attr: { class: 'span3' } }),
					'{{ month }}': form_widget(form.month, { attr: { class: 'span2' } }),
					'{{ day }}':   form_widget(form.day, { attr: { class: 'span2' } }),
				})|raw }}
			</div>
		{% endif %}

		{{ form_errors(form) }}
	</div>
{% endspaceless %}
{% endblock %}

{% block form_errors %}
{% spaceless %}
	{% if errors|length > 0 %}
		<span class="help-block">
			<ul>
				{% for error in errors %}
					<li>{{
						error.messagePluralization is null
							? error.messageTemplate|trans(error.messageParameters, 'validators')
							: error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
					}}</li>
				{% endfor %}
			</ul>
		</span>
	{% endif %}
{% endspaceless %}
{% endblock %}

{% block field_row %}{{ block('form_row') }}{% endblock %}

