{% block form_widget_simple %}
{% spaceless %}
	{% set type = type|default('text') %}

	<div class="controls">
		<input {{ block('widget_attributes') }} type="{{ type }}"{% if value is not empty %} value="{{ value }}"{% endif %} />
	</div>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
{% spaceless %}
	<div class="controls">
		<textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
	</div>
{% endspaceless %}
{% endblock textarea_widget %}

{% block form_label %}
{% spaceless %}
	{% set label_attr = label_attr|merge({ class: (label_attr.class|default('') ~ ' control-label')|trim }) %}

	{% if not compound %}
		{% set label_attr = label_attr|merge({ for: id }) %}
	{% endif %}

	{% if required %}
		{% set label_attr = label_attr|merge({ class: (label_attr.class|default('') ~ ' required')|trim }) %}
	{% endif %}

	{% if label is empty %}
		{% set label = name|humanize %}
	{% endif %}

	<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endspaceless %}
{% endblock form_label %}

{% block form_row %}
{% spaceless %}
	<div class="control-group">
		{{ form_label(form) }}
		{{ form_errors(form) }}
		{{ form_widget(form) }}
	</div>
{% endspaceless %}
{% endblock form_row %}

{% block date_widget %}
{% spaceless %}
	{% if widget == 'single_text' %}
		{{ block('form_widget_simple') }}
	{% else %}
		<div {{ block('widget_container_attributes') }}>
			{{ date_pattern|replace({
				'{{ year }}':  form_widget(form.year, { attr: { class: 'span3' } }),
				'{{ month }}': form_widget(form.month, { attr: { class: 'span2' } }),
				'{{ day }}':   form_widget(form.day, { attr: { class: 'span2' } }),
			})|raw }}
		</div>
	{% endif %}
{% endspaceless %}
{% endblock date_widget %}
