{% extends '::base.html.twig' %}

{% block title %}{{ 'pm.messaging'|trans }}{% endblock %}

{% block body %}
<h2 class="page-header">{{ block('title') }}</h2>

<div class="row-fluid">
	<div class="dropdown span3">
		<ul class="dropdown-menu" style="display: block; position: static; width: 90%;">
			<li class="nav-header">{{ 'pm.folders'|trans }}</li>

			<li{{ macros.is_active(['pm_list']) }}>
				<a href="{{ path('pm_list') }}">
					<i class="icon-chevron-right"></i>
					{{ 'pm.folders.inbox'|trans }}
				</a>
			</li>
			<li{{ macros.is_active(['pm_list_archives']) }}>
				<a href="{{ path('pm_list_archives') }}">
					<i class="icon-chevron-right"></i>
					{{ 'pm.folders.archives'|trans }}
				</a>
			</li>
		</ul>
	</div>
	<div class="span9">{% block content %}{% endblock %}</div>
</div>
{% endblock %}
