{% extends '::base.html.twig' %}

{% block title %}{{ 'pm.list'|trans }}{% endblock %}

{% block body %}
<div class="page-header">
	<h1>
		{{ block('title') }} <small><a href="{{ path('pm_new') }}">{{ 'pm.new'|trans }}</a></small>
	</h1>
</div>

{% if app.session.hasFlash('notice') %}
<div class="alert alert-info">
	{{ app.session.flash('notice') }}
</div>
{% endif %}

{% if conversations %}
<table class="table table-bordered table-condensed table-striped">
<thead>
	<tr>
		<th>{{ 'pm.title'|trans }}</th>
		<th>{{ 'pm.with'|trans }}</th>
		<th>{{ 'pm.on'|trans }}</th>
	</tr>
</thead>
<tbody>
{% for conversation in conversations %}
	{% set user = conversation.fromuser.id != app.user.id ? conversation.fromuser : conversation.touser %}

	<tr>
		<td>
			{% if not conversation.isopen %}<s>{% endif %}
			<a href="{{ path('pm_read', { id: conversation.id }) }}">{{ conversation.title }}</a>
			{% if not conversation.isopen %}</s>{% endif %}

			{% if not conversation.isread and conversation.touser.id == app.user.id %}
				<span class="label label-success pull-right">{{ 'pm.unread'|trans }}</span>
			{% endif %}
		</td>
		<td><a href="{{ path('user_view', { id: user.id }) }}">{{ user.username }}</a></td>
		<td>{{ conversation.pm[0].postdate|localizeddate }}</td>
	</tr>
{% endfor %}
</table>
</tbody>
{% else %}
<div class="alert alert-info">
	{{ 'pm.none'|trans }}
</div>
{% endif %}
{% endblock %}
