{% extends 'EuroPrivateMessageBundle:PrivateMessage:base.html.twig' %}

{% block content %}
{% if conversations %}
	<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>{{ 'pm.correspondent'|trans }}</th>
			<th>{{ 'pm.title'|trans }}</th>
			<th>{{ 'pm.last_message'|trans }}</th>
		</tr>
	</thead>
	<tbody>
		{% for pm in conversations %}
			{% set message = pm.messages[0] %}

			{% if message.direction == 0 %}
				{% set last_author = pm.fromuser %}
			{% else %}
				{% set last_author = pm.touser %}
			{% endif %}

			{% if pm.touser.id == app.user.id %}
				{% set author = pm.fromuser %}
			{% else %}
				{% set author = pm.touser %}
			{% endif %}

			<tr{% if message.new %} class="success"{% endif %}>
				<td><a href="{{ path('show_profile', { id: author.id }) }}">{{ author }}</a></td>
				<td>
					<i class="icon-share" title="{{ 'pm.has_share'|trans }}"></i>
					<a href="{{ path('pm_read', { id: pm.id, title: macros.slugify(pm.title) }) }}">{{ pm.title }}</a>
				</td>
				<td>
					{{ 'pm.posted_by'|trans }} <a href="{{ path('show_profile', { id: last_author.id }) }}">{{ last_author }}</a>
					{{ 'pm.posted_on'|trans({ '%date%': message.date|format_datetime }) }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
{% else %}
	<div class="alert">{{ 'pm.folder_empty'|trans }}</div>
{% endif %}
{% endblock %}
