{% extends 'EuroPrivateMessageBundle:PrivateMessage:base.html.twig' %}

{% block title %}{{ messages[0].conversation.title }}{% endblock %}

{% block content %}
{% set authors = [ '', messages[0].conversation.fromuser, messages[0].conversation.touser ] %}

{% for message in messages %}
	{% set from = authors[message.direction + 1] %}

	<div class="{% if message.new and from.id != app.user.id %}alert-success {% endif %}well">
		<div class="row-fluid">
			<div class="{% if loop.index0 % 2 == 0 %}pull-right {% endif %}span3">
				<div style="text-align: center;">
					<h4>
						<a href="{{ path('show_profile', { id: from.id }) }}">{{ from.username }}</a>
						<i class="icon-time" title="{{ 'pm.posted_on'|trans({ '%date%': message.date|format_datetime }) }}"></i>
					</h4>

					<img alt="{{ from.username }}" src="{{ gravatar(from.email) }}" title="{{ from.username }}" />
				</div>
			</div>
			<div class="{% if loop.index0 % 2 == 0 %}pull-left {% endif %}span9">
				{{ message.content }}
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}

{% block javascript %}
<div class="fade hide modal" id="modal-answer" tabindex="-1">
	<div class="modal-header">
		<button class="close" type="button" data-dismiss="alert">×</button>

		<h3 id="myModalLabel">{{ 'pm.answer_add'|trans }}</h3>
	</div>
	<div class="modal-body">
		<form action="#" class="form-horizontal" method="post">
			<div class="control-group">
				<label class="control-label" for="message_content">Message</label>
				<div class="controls">
					<textarea class="span4" id="message_content" rows="5"></textarea>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">{{ 'close'|trans }}</button>
		<button class="btn btn-primary" type="submit">{{ 'pm.add_answer'|trans }}</button>
	</div>
</div>
{% endblock %}
