{% extends 'EuroPrivateMessageBundle:PrivateMessage:base.html.twig' %}

{% set pm = messages[0].conversation %}

{% block title %}{{ pm.title|trans }}{% endblock %}

{% block buttons %}
{% if pm.open or pm.exchange %}
	<div class="btn-group pull-right">
		{% if pm.open %}
			<a class="btn btn-primary" href="#modal-answer" data-toggle="modal">
				<i class="icon-white icon-pencil"></i>
				{{ 'pm.answer'|trans }}
			</a>
		{% endif %}

		{% if pm.exchange %}
			<a class="btn" href="{{ path('exchange_show', { id: pm.exchange.id }) }}">
				<i class="icon-share"></i>
				{{ 'pm.show_exchange'|trans }}
			</a>
		{% endif %}

		{% if pm.open and (not pm.exchange or pm.exchange.status != 1) %}
			<a class="btn" href="{{ path('pm_close', { id: pm.id, title: macros.slugify(pm.title|trans) }) }}">
				<i class="icon-remove"></i>
				{{ 'pm.close'|trans }}
			</a>
		{% endif %}
	</div>

	<br style="clear: both;" />
{% endif %}
{% endblock %}

{% block content %}
{% set authors = [ pm.fromuser, pm.touser ] %}

{{ block('buttons') }}
{% if block('buttons') %}<br />{% endif %}

{% for message in messages %}
	{% set from, to = authors[message.direction * 1], authors[(message.direction + 1) % 2] %}

	{% if message.type > 0 %}
		{% set classes = ['info', 'danger', 'warning', 'success'] %}

		<div class="alert-{{ classes[message.type - 1] }} well well-small">
			<i class="icon-time" title="{{ 'pm.posted_on'|trans({ '%date%': message.date|format_datetime }) }}" data-hover="tooltip"></i>
	{% else %}
	<div class="{% if message.id in new_messages and to.id == app.user.id %}alert-success {% endif %}well">
		<div class="row-fluid">
			<div class="span2">
				<div style="text-align: center;">
					<h5>
						<a href="{{ path('show_profile', { id: from.id }) }}">{{ from.username }}</a>
						<i class="icon-time" title="{{ 'pm.posted_on'|trans({ '%date%': message.date|format_datetime }) }}" data-hover="tooltip"></i>
					</h5>

					<img alt="{{ from.username }}" class="img-polaroid" src="{{ gravatar(from.email, 110) }}" title="{{ from.username }}" />
				</div>
			</div>
			<div class="span10">
				{% endif %}

				{% set content = message.content %}

				{% if message.type > 0 %}
					{% set content = content|trans|replace({
						'%from_user%': '<a href="' ~ path('show_profile', { id: from.id }) ~ '">' ~ from.username ~ '</a>',
						'%to_user%': '<a href="' ~ path('show_profile', { id: to.id }) ~ '">' ~ to.username ~ '</a>'
					}) %}

					{% if pm.exchange %}
						{% set content = content|replace({
							'%exchange_path%': path('exchange_show', { id: pm.exchange.id })
						}) %}
					{% endif %}
				{% endif %}

				{% set content = content|format_text('markdown') %}

				{% if message.type > 0 %}
					{{ content|slice(3, -5)|raw }}
				{% else %}
					{{ content|raw }}
				{% endif %}

				{% if message.type == 0 %}
			</div>
		</div>
		{% endif %}
	</div>
{% endfor %}

{{ block('buttons') }}
{% endblock %}

{% if pm.open %}
	{% block javascript %}
	<div class="fade hide modal" id="modal-answer" tabindex="-1">
		<div class="modal-header">
			<button class="close" type="button" data-dismiss="modal">×</button>

			<h3>{{ 'pm.answer_add'|trans }}</h3>
		</div>
		<div class="modal-body">
			<form action="{{ path('pm_answer_process', { id: pm.id }) }}" class="form-horizontal" id="answer-form" method="post">
				{{ form_row(form.contentFormatter) }}
				{{ form_row(form.content, { attr: { class: 'span3', rows: 10 }, label: 'pm.form.title' }) }}

				{{ form_rest(form) }}

				<div class="form-actions">
					<button class="btn btn-primary" type="submit">{{ 'pm.add_answer'|trans }}</button>
					<button class="btn" data-dismiss="modal">{{ 'close'|trans }}</button>
				</div>
			</form>
		</div>
	</div>

	<script src="{{ asset('bundles/applicationsonatanews/js/editor.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/europrivatemessage/js/answer_pm.js') }}" type="text/javascript"></script>

	<script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/sonatamarkitup/markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/sonatamarkitup/markitup/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/sonatamarkitup/markitup/markitup/sets/html/set.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/sonatamarkitup/markitup/markitup/sets/textile/set.js') }}" type="text/javascript"></script>
	{% endblock %}
{% endif %}
