{% extends '::base.html.twig' %}

{% block title %}{{ conversation.title }}{% endblock %}

{% block body %}
<div class="page-header">
	<h1>
		{{ block('title') }}

		{% if conversation %}
		<small>
			{% if conversation.isopen %}
				<a data-toggle="collapse" data-target="#answer_form">{{ 'pm.answer'|trans }}</a>

				<div class="pull-right">
					{% set close_text, share = 'pm.close', conversation.share %}
					{% if share and share.tousercoin.user.id == app.user.id and share.status == 1 %}
						{% set close_text = 'pm.reject' %}

						<a class="btn btn-success" href="{{ path('coin_doubles_share_accept', { id: share.id }) }}">
							<i class="icon-white icon-ok"></i> {{ 'pm.accept'|trans }}
						</a>
					{% endif %}

					<a class="btn btn-danger" href="{{ path('pm_close', { id: conversation.id }) }}">
						<i class="icon-white icon-remove"></i> {{ close_text|trans }}
					</a>
				</div>
			{% else %}
				<em>{{ 'pm.closed'|trans }}</em>
			{% endif %}
		</smal>
		{% endif %}
	</h1>
</div>

{% if conversation %}
<div class="collapse" id="answer_form">
	{% include "EuroPrivateMessageBundle:PrivateMessage:form.html.twig" with {
		mode: 'answer',
		path: path('pm_read', { id: conversation.id })
	} %}
</div>

{% for message in conversation.pm %}
	<div class="well">
		<div class="row-fluid">
			<div class="span2">
				{% if message.direction %}
					{% set user = conversation.fromuser %}
				{% else %}
					{% set user = conversation.touser %}
				{% endif %}

				<strong><a href="{{ path('user_view', { id: user.id }) }}">{{ user.username }}</a></strong>,<br />
				{{ 'pm.on'|trans }} {{ message.postdate|localizeddate }}
			</div>

			<div class="span10">
				{{ message.text|markdown|nl2br }}
			</div>
		</div>
	</div>
{% endfor %}

<script src="{{ asset('bundles/europrivatemessage/js/pm.js') }}" type="text/javascript"></script>
{% else %}
<div class="alert alert-info">
	{{ 'pm.not_found'|trans }}
</div>
{% endif %}
{% endblock %}
