{% extends 'EuroPrivateMessageBundle:PrivateMessage:base.html.twig' %}

{% block title %}{{ 'pm.writing'|trans }}{% endblock %}

{% block content %}
<form action="{{ path('pm_write_process') }}" class="form-horizontal" method="post">
	{{ form_row(form.title, { label: 'pm.form.title' }) }}
	{{ form_row(form.to_user, { label: 'pm.form.to_user' }) }}
	{{ form_row(form.message, { label: 'pm.form.message' }) }}

	{{ form_rest(form) }}

	<div class="form-actions">
		<button class="btn btn-primary" id="submit" type="submit">{{ 'pm.send'|trans }}</button>
	</div>
</form>
{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/europrivatemessage/js/write_pm.js') }}" type="text/javascript"></script>
{% endblock %}
