{% extends 'EuroCoinBundle::base.html.twig' %}

{% block title %}{{ value.value}} &euro;{% endblock %}

{% block empty_cell %}<td>-</td>{% endblock %}

{% block body %}
<div class="page-header">
	<h1>{{ block('title') }}</h1>
</div>

<dl>
	<dt>{{ 'value.value'|trans }}</dt>
	<dd>{{ value.value }} &euro;</dd>
	<dt>{{ 'value.collector'|trans }}</dt>
	<dd>{{ macros.bool(value.collector) }}</dd>
</dl>

<div class="form-actions">
	<div class="pull-left">
		<a class="btn btn-primary" href="{{ path('value_edit', { 'id': value.id }) }}"><i class="icon-white icon-pencil"></i> {{ 'action.edit'|trans }}</a>
		<a class="btn" href="{{ path('value') }}"><i class="icon-arrow-left"></i> {{ 'action.back_to_list'|trans }}</a>
	</div>

	<form action="{{ path('value_delete', { 'id': value.id }) }}" method="post">
		{{ form_widget(delete_form) }}

		<button class="btn btn-danger pull-right" type="submit"><i class="icon-white icon-trash"></i> {{ 'action.delete'|trans }}</button>
	</form>
</div>
{% endblock %}
