{% extends '::base.html.twig' %}

{% if user is not defined %}
	{% set user = app.user %}
{% endif %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
<h2 class="page-header">
	{{ block('title') }}

	{% if user.fullname %}
		<small>{{ user.fullname }}</small>
	{% endif %}
</h2>

<div class="row-fluid">
	<div class="span2">
		{% if app.request.get('_route') in ['show_profile', 'show_user_stats'] and gravatar_exists(user.email) %}
			<div style="margin-bottom: 10px; padding-left: 20px;">
				<img alt="{{ user.username }}" class="img-polaroid" src="{{ gravatar(user.email) }}" title="{{ user.username }}" />
			</div>
		{% endif %}

		<div class="dropdown">
			<ul class="dropdown-menu" style="display: block; position: static; width: 178px;">
				{% if app.request.get('_route') in ['show_user_collection1', 'show_user_collection2', 'show_user_collection3'] %}
					{% include 'ApplicationSonataUserBundle:Profile:collection_menu.html.twig' %}
				{% endif %}

				<li class="nav-header">{{ user.username }}</li>

				<li{{ macros.is_active(['show_profile']) }}>
					<a href="{{ path('show_profile', { id: user.id }) }}">
						<i class="icon-chevron-right"></i>
						{{ 'user.show_profile'|trans }}
					</a>
				</li>
				<li{{ macros.is_active(['show_user_collection1', 'show_user_collection2', 'show_user_collection3']) }}>
					<a href="{{ path('show_user_collection1', { user_id: user.id }) }}">
						<i class="icon-chevron-right"></i>
						{{ 'user.show_collection'|trans }}
					</a>
				</li>
				<li{{ macros.is_active(['show_user_stats']) }}>
					<a href="{{ path('show_user_stats', { id: user.id }) }}">
						<i class="icon-chevron-right"></i>
						{{ 'user.show_stats'|trans }}
					</a>
				</li>

				{% if app.user.id != user.id %}
					<li>
						<a href="{{ path('pm_write', { id: user.id, user: user.username }) }}">
							<i class="icon-chevron-right"></i>
							{{ 'user.contact_pm'|trans }}
						</a>
					</li>
				{% else %}
					<li class="divider">

					<li{{ macros.is_active(['sonata_user_profile_edit']) }}>
						<a href="{{ path('sonata_user_profile_edit') }}">
							<i class="icon-chevron-right"></i>
							{{ 'user.edit_profile'|trans }}
						</a>
					</li>
					<li{{ macros.is_active(['sonata_user_profile_edit_authentication']) }}>
						<a href="{{ path('sonata_user_profile_edit_authentication') }}">
							<i class="icon-chevron-right"></i>
							{{ 'user.edit_authentication'|trans }}
						</a>
					</li>
					<li>
						<a href="{{ path('fos_user_security_logout') }}">
							<i class="icon-chevron-right"></i>
							{{ 'user.logout'|trans }}
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
	<div class="span10">
		{% block content %}{% endblock %}
	</div>
</div>
{% endblock %}
