{% extends 'ApplicationSonataUserBundle:Profile:base.html.twig' %}

{% block content %}
{% if coins %}
	{% set header %}
	<tr>
		<th>&nbsp;</th>
		{% for value in all_values %}
		<th>{{ macros.value(value) }}</th>
		{% endfor %}
	</tr>
	{% endset %}

	{% set empty_cell %}
	<td style="text-align: center;">{{ 'coin.unavailable'|trans }}</td>
	{% endset %}

	<table class="table table-bordered table-condensed table-hover table-striped">
	<tbody>
		{{ header }}

		{% for year, values in coins %}
			{% if loop.index0 > 0 and loop.index0 % 5 == 0 %}
				{{ header }}
			{% endif %}

			<tr>
				{% set has_year = false %}
				{% for value in all_values if values[value] is defined and not has_year %}
					{% set has_year = true %}

					<td>{{ macros.year(values[value].year) }}</td>
				{% endfor %}

				{% for value in all_values %}
					{% if values[value] is defined %}
						{% set coin = values[value] %}
						{% set has_coin = uc[coin.id] is defined %}
						{% set quantity = has_coin ? uc[coin.id].quantity : 0 %}

						<td>
							<div class="btn-toolbar" data-coin="{{ coin.id }}">
								<div class="btn-group">
									<button class="btn btn-mini btn-info" title="{{ 'coin.information'|trans }}" data-action="query-coin-info" data-loading-text="?">?</button>
									<button class="btn btn-mini disabled" disabled="disabled" title="{{ 'coin.self_quantity'|trans }}">{{ quantity|number_format_duration }}</button>
								</div>
							</div>
						</td>
					{% else %}
						{{ empty_cell }}
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
	</table>
{% else %}
	<div class="alert">{{ 'user.collection.empty'|trans }}</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/eurocoin/js/collection.js') }}" type="text/javascript"></script>
{% endblock %}
