{% block optional_menu %}
{% if countries %}
	{% set name = macros.name(current) %}

	<li class="nav-header">{{ 'countries.list'|trans }}</li>

	{% for country in countries %}
		{% set _name = macros.name(country) %}

		<li{% if country.name == current.name %} class="active"{% endif %} data-action="popover" title="{{ _name }}" data-content="{% include 'EuroCoinBundle:Country:country_data.html.twig' with { country: country } %}">
			<a href="{{ path('show_user_collection', { country_name: _name, country_id: country.id, user_id: user.id }) }}">
				<i class="icon-chevron-right"></i> {{ _name }}
			</a>
		</li>
	{% endfor %}

	<li class="divider"></li>

	<li{{ macros.is_active(['show_user_collection']) }}>
		<a href="{{ path('show_user_collection', { country_name: name, country_id: current.id, user_id: user.id }) }}">
			<i class="icon-chevron-right"></i> {{ 'coin.circulation'|trans }}
		</a>
	</li>
	<li{{ macros.is_active(['show_user_collection_collector']) }}>
		<a href="{{ path('show_user_collection_collector', { country_name: name, country_id: current.id, user_id: user.id }) }}">
			<i class="icon-chevron-right"></i> {{ 'coin.collector'|trans }}
		</a>
	</li>

	<li class="divider"></li>
{% endif %}
{% endblock %}
