{% extends 'ApplicationSonataUserBundle:Profile:base.html.twig' %}

{% block content %}
<form action="{{ path('sonata_user_profile_edit') }}" method="post">
	<div class="row-fluid">
		<div class="span6">
			{{ form_row(form.firstname, { label: 'user.firstname'|trans }) }}
			{{ form_row(form.lastname, { label: 'user.lastname'|trans }) }}
			{{ form_row(form.dateOfBirth, { label: 'user.date_of_birth'|trans }) }}
			{{ form_row(form.phone, { label: 'user.phone'|trans }) }}
		</div>
		<div class="span6">
			{{ form_row(form.gender, { label: 'user.gender'|trans }) }}
			{{ form_row(form.website, { label: 'user.website'|trans }) }}
			{{ form_row(form.locale, { label: 'user.locale'|trans }) }}
			{{ form_row(form.timezone, { label: 'user.timezone'|trans }) }}
		</div>
	</div>

	{{ form_row(form.biography, { label: 'user.biography'|trans, attr: { class: 'span12', rows: 7 } }) }}

	{{ form_rest(form) }}

	<div class="form-actions">
		<button class="btn btn-primary" name="submit" type="submit">{{ 'user.update_profile'|trans }}</button>
	</div>
</form>
{% endblock %}
