{% extends 'ApplicationSonataUserBundle:Profile:base.html.twig' %}

{% block content %}
<h3 class="page-header">
	{{ 'user.information'|trans }}

	<div class="pull-right">
		{% if user.showemail or (app.user is not null and app.user.id == user.id) %}
		<a class="btn btn-link" href="mailto: {{ user.email }}" target="_blank" title="{{ 'user.email'|trans }}" data-hover="tooltip">
			<img alt="{{ 'user.email'|trans }}" src="{{ asset('bundles/applicationsonatauser/images/email.png') }}" />
		</a>
		{% endif %}

		{% if user.facebookuid %}
			<a class="btn btn-link" href="http://www.fb.me/{{ user.facebookuid }}" target="_blank" title="{{ 'user.facebook'|trans }}" data-hover="tooltip">
				<img alt="{{ 'user.facebook'|trans }}" src="{{ asset('bundles/applicationsonatauser/images/facebook.png') }}" />
			</a>
		{% endif %}

		{% if user.twitteruid %}
			<a class="btn btn-link" href="http://www.twitter.com/{{ user.twitteruid }}" target="_blank" title="{{ 'user.twitter'|trans }}" data-hover="tooltip">
				<img alt="{{ 'user.twitter'|trans }}" src="{{ asset('bundles/applicationsonatauser/images/twitter.png') }}" />
			</a>
		{% endif %}

		{% if user.gplusuid %}
			<a class="btn btn-link" href="http://plus.google.com/{{ user.gplusuid }}" target="_blank" title="{{ 'user.google_plus'|trans }}" data-hover="tooltip">
				<img alt="{{ 'user.google_plus'|trans }}" src="{{ asset('bundles/applicationsonatauser/images/google_plus.png') }}" />
			</a>
		{% endif %}
	</div>
</h3>

<div class="row-fluid">
	<div class="span6">
		<dl class="dl-horizontal">
			<dt>{{ 'user.registration_date'|trans }}</dt>
				<dd>{{ user.createdat|format_datetime }}</dd>

			{% if user.lastlogin %}
				<dt>{{ 'user.last_login'|trans }}</dt>
					<dd>{{ user.lastlogin|format_datetime }}</dd>
			{% endif %}

			{% if user.dateofbirth %}
				<dt>{{ 'user.date_of_birth'|trans }}</dt>
					<dd>
						{% if date(user.dateofbirth) == date() %}
							<i class="icon-gift"></i> {{ ('user.birthday_today' ~ user.gender)|trans }}
						{% else %}
							{{ user.dateofbirth|format_date }}
						{% endif %}
					</dd>
			{% endif %}
		</dl>
	</div>
	<div class="span6">
		<dl class="dl-horizontal">
			{% if user.gender %}
				<dt>{{ 'user.gender'|trans }}</dt>
					<dd>{{ ('user.gender' ~ user.gender)|trans }}</dd>
			{% endif %}

			{% if user.country %}
				{% set country = user.country|country %}

				<dt>{{ 'user.country'|trans }}</dt>
					<dd>
						<img alt="{{ country }}" src="{{ asset('bundles/applicationsonatauser/images/' ~ user.country|lower ~ '.png') }}" title="{{ country }}" data-hover="tooltip" data-placement="right" />
						{{ country }}
					</dd>
			{% endif %}

			{% if user.website %}
				<dt>{{ 'user.website'|trans }}</dt>
					<dd><a href="{{ user.website }}" target="_blank">{{ user.website }}</a></dd>
			{% endif %}
		</dl>
	</div>
</div>

{% if user.biography %}
	<h3 class="page-header">{{ 'user.biography'|trans }}</h3>

	<blockquote>{{ user.biography|format_text('markdown')|raw }}</blockquote>
{% endif %}
{% endblock %}
