{% extends 'ApplicationSonataUserBundle:Profile:base.html.twig' %}

{% block content %}
{% if global.total_coins %}
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#global" data-toggle="tab">{{ 'user.stats.global'|trans }}</a></li>

			{% for country in countries %}
				{% set name = macros.name(country) %}

				<li><a href="#country-{{ country.id }}" data-toggle="tab">
					<img alt="{{ name }}" rel="tooltip" src="{% path country.flag, 'mini' %}" title="{{ name }}" data-placement="right" />
					{{ name }}
				</a></li>
			{% endfor %}
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="global">
				<div class="row-fluid">
					<div class="{% if global.total_coins %}span6{% else %}span12{% endif %}">
						<h3 class="page-header">{{ 'user.stats.global.stats'|trans }}</h3>

						<dl>
							<dt>{{ 'user.stats.total_coins'|trans }}</dt>
								<dd>{{ 'coins'|transchoice(global.total_coins, { '%total%': global.total_coins|number_format }) }}</dd>

							<dt>{{ 'user.stats.total_doubles'|trans }}</dt>
								<dd>{{ 'coins'|transchoice(global.total_doubles, { '%total%': global.total_doubles|number_format }) }}</dd>

							<dt>{{ 'user.stats.total_uniques'|trans }}</dt>
								<dd>{{ 'coins'|transchoice(global.total_uniques, { '%total%': global.total_uniques|number_format }) }}</dd>

							<dt>{{ 'user.stats.total_collectors'|trans }}</dt>
								<dd>{{ 'coins'|transchoice(global.total_collectors, { '%total%': global.total_collectors|number_format }) }}</dd>

							<dt>{{ 'user.stats.total_commemoratives'|trans }}</dt>
								<dd>{{ 'coins'|transchoice(global.total_commemoratives, { '%total%': global.total_commemoratives|number_format }) }}</dd>

							<dt>{{ 'user.stats.total_value'|trans }}</dt>
								<dd>{{ macros.value(global.total_value) }}</dd>

							<dt>{{ 'user.stats.total_uniques_value'|trans }}</dt>
								<dd>{{ macros.value(global.total_uniques_value) }}</dd>

							<dt>{{ 'user.stats.average_value'|trans }}</dt>
								<dd>{{ macros.value(global.average_value) }}</dd>
						</dl>
					</div>

					<div class="span6">
						<h3 class="page-header"><span class="pull-right">{{ 'user.stats.global.owned_countries'|trans }}</span><br /></h3>

						<ul>
							{% for country in global.countries %}
								{% set count, name = countries_user_stats[country.id].total_coins, macros.name(country) %}

								<li>
									{{ 'user.stats.global.country_count'|transchoice(count, {
										'%count%': count,
										'%country%': name,
										'%path%': path('coin_collection1', { id: country.id, country: name })
									})|raw }}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			{% for country in countries %}
				{% set stat = countries_stats[country.id] %}

				<div class="tab-pane" id="country-{{ country.id }}">
					<h3 class="page-header">{{ macros.name(country) }}</h3>

					<dl>
						{% set count, total = countries_user_stats[country.id].total_coins, stat.total_coins %}
						{% set title = 'user.stats.country.coin_distribution'|transchoice(count, {
							'%count%': count,
							'%total%': total
						}) %}

						<dt>{{ 'user.stats.country.coins'|trans }}</dt>
							<dd>
								<div class="progress">
									<div class="bar" rel="tooltip" style="width: {{ count / total * 100 }}%;" title="{{ title }}">{{ '%.2f'|format(count / total * 100) }} %</div>
								</div>
							</dd>

						{% set count, total = countries_user_stats[country.id].total_value, stat.total_value %}
						{% set title = 'user.stats.country.value_distribution'|trans({
							'%count%': macros.value(count),
							'%total%': macros.value(total)
						}) %}

						<dt>{{ 'user.stats.country.value'|trans }}</dt>
							<dd>
								<div class="progress">
									<div class="bar" rel="tooltip" style="width: {{ count / total * 100 }}%;" title="{{ title }}">{{ macros.value(count) }}</div>
								</div>
							</dd>

						{% if stat.total_collectors %}
							{% set count, total = countries_user_stats[country.id].total_collectors, stat.total_collectors %}
							{% set title = 'user.stats.country.coin_distribution'|transchoice(count, {
								'%count%': count,
								'%total%': total
							}) %}

							<dt>{{ 'user.stats.country.collectors'|trans }}</dt>
								<dd>
									<div class="progress">
										<div class="bar" rel="tooltip" style="width: {{ count / total * 100 }}%;" title="{{ title }}">{{ '%.2f'|format(count / total * 100) }} %</div>
									</div>
								</dd>
						{% endif %}

						{% if stat.total_commemoratives %}
							{% set count, total = countries_user_stats[country.id].total_commemoratives, stat.total_commemoratives %}
							{% set title = 'user.stats.country.coin_distribution'|transchoice(count, {
								'%count%': count,
								'%total%': total
							}) %}

							<dt>{{ 'user.stats.country.commemoratives'|trans }}</dt>
								<dd>
									<div class="progress">
										<div class="bar" rel="tooltip" style="width: {{ count / total * 100 }}%;" title="{{ title }}">{{ '%.2f'|format(count / total * 100) }} %</div>
									</div>
								</dd>
						{% endif %}
					</dl>

					<h3 class="page-header">{{ 'user.stats.country.distribution_by_year'|trans }}</h3>

					<dl class="dl-horizontal">
						{% set classes, i = ['info', 'success', 'warning', 'danger'], 0 %}

						{% for year in years %}
							{% if stat.years[year.id] is defined %}
								{% set count = countries_user_stats[country.id].years[year.id] is defined ? countries_user_stats[country.id].years[year.id] : 0 %}
								{% set total = stat.years[year.id] %}
								{% set ratio = count / total * 100 %}
								{% set text = '%.2f %%'|format(ratio) %}
								{% set title = 'user.stats.country.coin_distribution'|transchoice(count, {
									'%count%': count,
									'%total%': total
								}) %}

								<dt>{{ 'user.stats.country.year'|trans({ '%year%': macros.year(year) })|raw }}</dt>
									<dd>
										<div class="progress" rel="tooltip" title="{{ title }}">
											<div class="bar bar-{{ cycle(classes, i) }}" style="width: {{ ratio }}%;">{{ ratio > 0 ? text : '' }}</div>

											{% if ratio == 0 %}
												{{ text }}
											{% endif %}
										</div>
									</dd>

								{% set i = i + 1 %}
							{% endif %}
						{% endfor %}
					</dl>
				</div>
			{% endfor %}
		</div>
	</div>
{% else %}
	<div class="alert">{{ 'user.collection.empty'|trans }}</div>
{% endif %}
{% endblock %}
