{% extends 'ApplicationSonataUserBundle:Profile:base.html.twig' %}

{% block content %}
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#global" data-toggle="tab">Général</a></li>

		{% for country in countries %}
			<li><a href="#country-{{ country.id }}" data-toggle="tab">{{ macros.name(country) }}</a></li>
		{% endfor %}
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="global">
			<div class="row-fluid">
				<div class="span6">
					<h3 class="page-header">Quelques chiffres</h3>

					<dl>
						<dt>{{ 'user.stats.total_coins'|trans }}</dt>
							<dd>{{ 'coins'|transchoice(global.total_coins, { '%total%': global.total_coins|number_format }) }}</dd>

						<dt>{{ 'user.stats.total_doubles'|trans }}</dt>
							<dd>{{ 'coins'|transchoice(global.total_doubles, { '%total%': global.total_doubles|number_format }) }}</dd>

						<dt>{{ 'user.stats.total_uniques'|trans }}</dt>
							<dd>{{ 'coins'|transchoice(global.total_uniques, { '%total%': global.total_uniques|number_format }) }}</dd>

						<dt>{{ 'user.stats.total_collectors'|trans }}</dt>
							<dd>{{ 'coins'|transchoice(global.total_collectors, { '%total%': global.total_collectors|number_format }) }}</dd>

						<dt>{{ 'user.stats.total_value'|trans }}</dt>
							<dd>{{ macros.value(global.total_value) }}</dd>

						<dt>{{ 'user.stats.average_value'|trans }}</dt>
							<dd>{{ macros.value(global.average_value) }}</dd>
					</dl>
				</div>
				<div class="span6">
					<h3 class="page-header"><span class="pull-right">Pays possédés</span><br /></h3>

					<ul>
						{% for country in global.countries %}
							{% set name = macros.name(country) %}

							<li><a href="{{ path('coin_collection', { id: country.id, country: name }) }}">{{ name }}</a> avec <strong>{{ global.total_coins_by_country[country.id] }}</strong> pièces</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<h3 class="page-header">Répartition de la collection</h3>

			<div class="progress">
				{% set classes = ['info', 'success', 'warning', 'danger'] %}

				{% for country in countries %}
					<div class="bar bar-{{ cycle(classes, loop.index0) }}" style="width: {{ global.total_coins_by_country[country.id] / global.total_coins * 100 }}%" title="{{ global.total_coins_by_country[country.id] }} / {{ global.total_coins }}">{{ macros.name(country) }}</div>
				{% endfor %}
			</div>
		</div>

		{% for country in countries %}
			<div class="tab-pane" id="country-{{ country.id }}">
				Statistiques sur l'utilisateur pour le pays <strong>{{ macros.name(country) }}</strong>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
