{% extends '::base.html.twig' %}

{% block body %}
<h2 class="page-header">{{ block('title') }}</h2>

<div class="row-fluid">
	<div class="dropdown span2">
		<ul class="dropdown-menu" style="display: block; position: static;">
			<li class="nav-header">{{ 'menu'|trans }}</li>

			<li{{ macros.is_active(['page_links']) }}><a href="{{ path('page_links') }}">{{ 'links'|trans }}</a></li>
			<li><a href="{{ path('sonata_news_archive') }}">{{ 'news.archives'|trans }}</a></li>
			<li{{ macros.is_active(['contact']) }}><a href="{{ path('contact') }}">{{ 'contact'|trans }}</a></li>
			<li{{ macros.is_active(['page_copyright']) }}><a href="{{ path('page_copyright') }}">{{ 'copyright'|trans }}</a></li>

			<li class="divider"></li>

			<li><a href="https://github.com/MGaetan89/Euro/wiki" target="_blank">{{ 'copyright.contribute_on_github'|trans }}</a></li>
		</ul>
	</div>
	<div class="span10">
		{% block content %}{% endblock %}
	</div>
</div>
{% endblock %}
