{% extends 'EuroPageBundle:Page:base.html.twig' %}

{% block meta_description %}{{ 'copyright.meta_description'|trans }}{% endblock %}

{% block title %}{{ 'copyright'|trans }}{% endblock %}

{% block content %}
<h3 class="page-header">{{ 'copyright.data'|trans }}</h3>

<table class="table table-condensed table-hover table-striped">
<tbody>
	<tr>
		<td>{{ 'copyright.webmaster'|trans }}</td>
		<td>
			<img alt="{{ webmaster.username }}" src="{{ gravatar(webmaster.email, 16) }}" title="{{ webmaster.username }}" data-hover="tooltip" data-placement="right" />
			<a href="{{ path('show_profile', { id: webmaster.id }) }}">{{ webmaster.username }}</a>
		</td>
	</tr>
	<tr>
		<td>{{ 'copyright.coin_data'|trans }}</td>
		<td>
			<a href="http://euro-auflagen.de/" target="_blank">Euro Auflagen</a><br />
			<a href="http://www.fleur-de-coin.com/" target="_blank">Fleur de Coin</a>
		</td>
	</tr>
	<tr>
		<td>{{ 'copyright.country_flags'|trans }}</td>
		<td><a href="http://www.icondrawer.com/" target="_blank">Icon Drawer</a></td>
	</tr>
	<tr>
		<td>{{ 'copyright.icons'|trans }}</td>
		<td>
			<a href="http://glyphicons.com/" target="_blank">Glyphicons</a><br />
			<a href="http://paulrobertlloyd.com/" target="_blank">Paul Robert Lloyd</a>
		</td>
	</tr>
</tbody>
</table>

<h3 class="page-header">{{ 'copyright.used_technologies'|trans }}</h3>

<table class="table table-condensed table-hover table-striped">
<tbody>
	<tr>
		<td>{{ 'copyright.php_framework'|trans }}</td>
		<td>
			<a href="http://symfony.com/" target="_blank">Symfony 2</a>
		</td>
	</tr>
	<tr>
		<td>{{ 'copyright.css_js_framework'|trans }}</td>
		<td>
			<a href="http://jquery.com" target="_blank">jQuery</a><br />
			<a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Bootstrap</a>
		</td>
	</tr>
</tbody>
</table>
{% endblock %}
