{% extends 'EuroPageBundle:Page:base.html.twig' %}

{% block meta_description %}{{ 'links.meta_description'|trans }}{% endblock %}

{% block title %}{{ 'links'|trans }}{% endblock %}

{% block content %}
<div class="alert alert-info">
	<button class="close" type="button" data-dismiss="alert">×</button>

	{{ 'links.information'|trans({ '%path%': path('contact', { subject: 'partnership' }) })|raw }}
</div>

<h3 class="page-header">{{ 'links.about_euro'|trans }}</h3>

<a class="thumbnail" href="http://www.collect2euros.fr/" target="_blank">
	<img
		alt="Site pour les collectionneurs de pièces de 2 euros"
		rel="tooltip"
		src="{{ asset('bundles/europage/images/collect2euros.png') }}"
		title="Site pour les collectionneurs de pièces de 2 euros"
	/>
</a>

<h3 class="page-header">{{ 'links.other_sites'|trans }}</h3>

<a class="thumbnail" href="http://www.republic-of-gamers.fr/" target="_blank">
	<img
		alt="Republic of Gamers par ASUS - Jouons selon vos règles ! Tout le savoir faire ASUS pour des composants et PC portables surpuissants dédiés au Gaming !"
		rel="tooltip"
		src="{{ asset('bundles/europage/images/republicofgamers.jpg') }}"
		title="Republic of Gamers par ASUS - Jouons selon vos règles ! Tout le savoir faire ASUS pour des composants et PC portables surpuissants dédiés au Gaming !"
	/>
</a>
{% endblock %}
