{% extends "FOSUserBundle::layout.html.twig" %}

{% block meta_description %}{{ 'user.request_password.meta_description'|trans }}{% endblock %}

{% block title %}{{ 'user.request_password'|trans }}{% endblock %}

{% block fos_user_content %}
<h2 class="page-header">{{ block('title') }}</h2>

{% if alert is defined %}
<div class="alert alert-{{ class|default('info') }} fade in">
	<button class="close" type="button" data-dismiss="alert">×</button>

	<strong>{{ label|trans }}</strong> {{ alert }}
</div>
{% endif %}

{% include 'FOSUserBundle:Resetting:request_content.html.twig' %}
{% endblock fos_user_content %}
