<form action="{{ path("fos_user_security_check") }}"{% if app.request.get('_route') == 'fos_user_security_login' %} class="form-centered"{% endif %} method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	<div class="control-group">
		<label class="control-label" for="username">{{ 'user.username'|trans }}</label>
		<div class="controls">
			<input id="username" name="_username" type="text" value="{{ last_username }}" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="password">{{ 'user.password'|trans }}</label>
		<div class="controls">
			<input id="password" name="_password" type="password" />
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input id="remember_me" name="_remember_me" type="checkbox" value="on" />
				{{ 'user.remember_me'|trans }}
			</label>
		</div>
	</div>

	<input class="btn btn-primary" id="_submit" name="_submit" type="submit" value="{{ 'user.login_action'|trans }}" />

	<a class="btn btn-link" href="{{ path('fos_user_resetting_request') }}">{{ 'user.password_forgotten'|trans }}</a>
</form>
