{% extends 'FOSUserBundle::layout.html.twig' %}

{% block meta_description %}{{ 'user.login.meta_description'|trans }}{% endblock %}

{% block title %}{{ 'user.login'|trans }}{% endblock %}

{% block fos_user_content %}
<h2 class="page-header">{{ block('title') }}</h2>

{% if error %}
	<div class="alert alert-error">
		<strong>{{ 'error'|trans }}</strong> {{ error|trans({}, 'FOSUserBundle') }}
	</div>
{% endif %}

{% include 'FOSUserBundle:Security:login_content.html.twig' %}
{% endblock fos_user_content %}
