{% extends 'EuroCoinBundle::base.html.twig' %}

{% block title %}{{ 'country.editing'|trans({ '%name%': country.name }) }}{% endblock %}

{% block body %}
<h1>{{ block('title') }}</h1>

<form action="{{ path('country_update', { 'id': country.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	{{ form_widget(edit_form) }}

	<div class="btn-group">
		<button class="btn btn-primary" type="submit">{{ 'action.edit'|trans }}</button>
		<a class="btn" href="{{ path('country') }}">{{ 'action.back_to_list'|trans }}</a>
		<a class="btn btn-danger" href="{{ path('country_delete', { 'id': country.id }) }}">{{ 'action.delete'|trans }}</a>
	</div>
</form>
{% endblock %}
