{% extends 'EuroCoinBundle::base.html.twig' %}

{% block title %}{{ 'country.editing'|trans({ '%name%': country.name }) }}{% endblock %}

{% block body %}
<div class="page-header">
	<h1>{{ block('title') }}</h1>
</div>

<form action="{{ path('country_update', { 'id': country.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	{{ form_widget(edit_form) }}

	<div class="form-actions">
		<div class="pull-left">
			<button class="btn btn-primary" type="submit"><i class="icon-white icon-pencil"></i> {{ 'action.edit'|trans }}</button>
			<a class="btn" href="{{ path('country') }}"><i class="icon-arrow-left"></i> {{ 'action.back_to_list'|trans }}</a>
		</div>

		<form action="{{ path('country_delete', { 'id': country.id }) }}" method="post">
            {{ form_widget(delete_form) }}

            <button class="btn btn-danger pull-right" type="submit"><i class="icon-white icon-trash"></i> {{ 'action.delete'|trans }}</button>
        </form>
	</div>
</form>
{% endblock %}
