{% extends 'EuroCoinBundle::base.html.twig' %}

{% block title %}{{ 'country.list'|trans }}{% endblock %}

{% block tools %}
<a class="btn pull-right" href="{{ path('country_new') }}">{{ 'country.add'|trans }}</a>
{% endblock %}

{% block body %}
<h1 class="pull-left">{{ block('title') }}</h1>

{{ block('tools') }}

<table class="table table-bordered table-striped">
<thead>
	<tr>
		<th>{{ 'country.name'|trans }}</th>
		<th>{{ 'country.join_date'|trans }}</th>
		<th>{{ 'country.fomercurrency'|trans }}</th>
		<th>{{ 'country.change_rate'|trans }}</th>
		<th>{{ 'actions'|trans }}</th>
	</tr>
</thead>
<tbody>
{% for country in countries %}
	<tr>
		<td><a href="{{ path('country_show', { 'id': country.id }) }}">{{ country.name|trans }}</a></td>
		<td>{{ country.joindate|date('d/m/Y') }}</td>
		<td>{{ country.fomercurrency|trans }}</td>
		<td>1 &euro; = {{ country.exchangerate }} {{ country.fomercurrencyiso }}</td>
		<td>
			<a href="{{ path('country_show', { 'id': country.id }) }}">{{ 'action.show'|trans }}</a> |
			<a href="{{ path('country_edit', { 'id': country.id }) }}">{{ 'action.edit'|trans }}</a>
		</td>
	</tr>
{% endfor %}
</tbody>
</table>

{{ block('tools') }}
{% endblock %}
