{% extends "::base.html.twig" %}

{% block title %}{{ 'countries.list'|trans }}{% endblock %}

{% block body %}
<h2 class="page-header">{{ block('title') }}</h2>

{% if countries %}
<div class="row-fluid">
	<div class="span5">
		<div class="well well-small">
			<img id="map" src="{{ asset('bundles/eurocoin/images/europe.svg') }}" data-countries="{{ countries_js }}" />
		</div>
	</div>
	<div class="span7">
		<table class="table table-condensed table-striped">
		<thead>
			<tr>
				<th>{{ 'country.name'|trans }}</th>
				<th>{{ 'country.join_date'|trans }}</th>
				<th>
					{{ 'country.exchange_rate'|trans }}
					<span class="pull-right">{{ 'country.former_currency'|trans }}</span>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for country in countries %}
				{% set base, name = macros.value(1), macros.name(country) %}
				<tr id="{{ country.nameiso }}-list">
					<td>
						<a href="{{ path('coin_collection1', { id: country.id, country: name }) }}">
							<img alt="{{ name }}" rel="tooltip" src="{% path country.flag, 'small' %}" title="{{ name }}" data-placement="right" />
							{{ name }}
						</a>
					</td>
					<td>{{ country.joindate|format_date }}</td>
					<td>
						{{ base ~ ' = ' ~ macros.value(country.exchangerate, country.formercurrencyiso) }}
						<span class="muted pull-right">{{ macros.currency(country) }}</span>
					</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
</div>
{% else %}
<div class="alert">{{ 'country.none'|trans }}</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/eurocoin/js/country.js') }}" type="text/javascript"></script>
{% endblock %}
