{% extends '::base.html.twig' %}

{% block title %}{{ 'country.adding'|trans }}{% endblock %}

{% block body %}
<div class="page-header">
	<h1>{{ block('title') }}</h1>
</div>

<form action="{{ path('country_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

	<div class="form-actions">
		<button class="btn btn-primary" type="submit"><i class="icon-white icon-plus"></i> {{ 'action.add'|trans }}</button>
		<a class="btn" href="{{ path('country') }}"><i class="icon-arrow-left"></i> {{ 'action.back_to_list'|trans }}</a>
	</div>
</form>
{% endblock %}
