{% macro bool(value) %}
{% spaceless %}
	{% if value %}
		{% set class, icon, title = 'success', 'ok', 'yes' %}
	{% else %}
		{% set class, icon, title = 'danger', 'remove', 'no' %}
	{% endif %}

	<span class="btn btn-{{ class }} btn-mini" title="{{ title|trans }}"><i class="icon-white icon-{{ icon }}"></i></span>
{% endspaceless %}
{% endmacro %}

{% macro coin(coin) %}
{% spaceless %}
	{{ _self.value(coin.value) }} {{ coin.country|trans }} {{ _self.year(coin.year) }}
{% endspaceless %}
{% endmacro %}

{% macro share_status(status) %}
{% spaceless %}
	{% if status == 1 %}
		<span class="label label-warning btn-mini">{{ 'coin.shares.status.pending'|trans }}</span>
	{% elseif status == 2 %}
		<span class="label label-success btn-mini">{{ 'coin.shares.status.validated'|trans }}</span>
	{% elseif status == 3 %}
		<span class="label label-important btn-mini">{{ 'coin.shares.status.refused'|trans }}</span>
	{% else %}
		<span class="label label-important btn-mini">{{ 'coin.shares.status.canceled'|trans }}</span>
	{% endif %}
{% endspaceless %}
{% endmacro %}

{% macro value(value) %}
{% spaceless %}
	{% if value.value < 1 %}
		{{ value.value * 100 }} {{ 'cent'|trans }}
	{% else %}
		{{ value.value }} {{ 'euro'|trans }}
	{% endif %}
{% endspaceless %}
{% endmacro %}

{% macro year(year) %}
{% spaceless %}
	{{ year.year }}
	{% if year.workshop %}
		<abbr title="{{ year.workshop.name }}">{{ year.workshop.shortname }}</abbr>
	{% endif %}
{% endspaceless %}
{% endmacro %}
