{% extends '::base.html.twig' %}

{% block title %}
	{% if type == 'request' %}
		{{ from.username }} &rarr; {{ app.user.username }}
	{% else %}
		{{ app.user.username }} &rarr; {{ from.username }}
	{% endif %}
{% endblock %}

{% block body %}
{% set has_filters = false %}

<h2 class="page-header">{{ block('title') }}</h2>

<div class="row-fluid">
	<div class="span3">
		<div class="well well-small" style="padding: 8px 0;">
			<ul class="nav nav-list" id="coins_list">
				<li class="nav-header">
					{% if type == 'request' %}
						{{ 'coins.requested_coins'|trans }}
					{% else %}
						{{ 'coins.suggested_coins'|trans }}
					{% endif %}

					{% if filters.countries|length > 1 or filters.values|length > 1 or filters.years|length > 1 %}
						{% set has_filters = true %}

						<span class="pull-right" title="{{ 'exchange.filter_coins'|trans }}" data-hover="tooltip" data-toggle="collapse" data-target="#filters">
							<i class="icon-filter"></i>
						</span>
					{% endif %}
				</li>
				<li class="divider"></li>
				<li class="nav-header pull-right">Total : <span>0</span> €</li>
			</ul>

			<div class="clearfix"></div>
		</div>

		{% if type == 'suggest' %}
			<div class="well well-small" style="padding: 8px 0;">
				<ul class="nav nav-list">
					<li class="nav-header">{{ 'coins.requested_coins'|trans }}</li>
					{% for uc in from_coins %}
						<li><a>{{ macros.coin(uc.coin, true) }}</a></li>
					{% endfor %}
					<li class="divider"></li>
					<li class="nav-header pull-right">Total : {{ macros.value(total_requested) }}</li>
				</ul>

				<div class="clearfix"></div>
			</div>
		{% endif %}
	</div>
	<div class="span9">
		{% if has_filters %}
			<div class="collapse" id="filters">
				{% if filters.countries|length > 1 %}
					<ul class="breadcrumb">
						<li class="muted">
							<a class="muted" href="#" title="{{ 'exchange.filter_reset'|trans }}" data-action="reset-country-filter" data-hover="tooltip">&times;</a>
							<span class="divider">&nbsp;</span>
						</li>
						<li class="muted">{{ 'coin.country'|trans }} <span class="divider">&nbsp;</span></li>

						{% for country in filters.countries %}
							{% set name = macros.name(country) %}

							<li>
								{% spaceless %}
								<a href="#" title="{{ name }}" data-action="show-country" data-hover="tooltip" data-target=".country-{{ name }}">
									<img alt="{{ name }}" src="{% path country.flag, 'mini' %}" />
								</a>
								{% endspaceless %}
								<span class="divider">&nbsp;</span>
							</li>
						{% endfor %}
					</ul>
				{% endif %}

				{% if filters.values|length > 1 %}
					<ul class="breadcrumb">
						<li class="muted">
							<a class="muted" href="#" title="{{ 'exchange.filter_reset'|trans }}" data-action="reset-value-filter" data-hover="tooltip">&times;</a>
							<span class="divider">&nbsp;</span>
						</li>
						<li class="muted">{{ 'coin.value'|trans }} <span class="divider">&nbsp;</span></li>

						{% for value in filters.values %}
							<li>
								<a href="#" data-action="show-value" data-target=".value-{{ value|replace('.', '-') }}">{{ macros.value(value) }}</a>
								<span class="divider">&nbsp;</span>
							</li>
						{% endfor %}
					</ul>
				{% endif %}

				{% if filters.years|length > 1 %}
					<ul class="breadcrumb">
						<li class="muted">
							<a class="muted" href="#" title="{{ 'exchange.filter_reset'|trans }}" data-action="reset-year-filter" data-hover="tooltip">&times;</a>
							<span class="divider">&nbsp;</span>
						</li>
						<li class="muted">{{ 'coin.year'|trans }} <span class="divider">&nbsp;</span></li>

						{% for year in filters.years %}
							<li>
								<a href="#" data-action="show-year" data-target=".year-{{ year }}">{{ macros.year(year) }}</a>
								<span class="divider">&nbsp;</span>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		{% endif %}

		<div class="accordion">
			{% if 1 in filters.types %}
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" href="#type-circulation">{{ 'coin.type1'|trans }}</a>
					</div>
					<div class="accordion-body collapse in" id="type-circulation">
						<div class="accordion-inner">
							{% for country, years in coins.circulation %}
								{% set _values = values.circulation[country] %}

								{% set header %}
								<tr class="table-header">
									<th>{{ country }}</th>
									{% for value in _values %}
									<th class="value-{{ value|replace('.', '-') }}">{{ macros.value(value) }}</th>
									{% endfor %}
								</tr>
								{% endset %}

								<table class="country-{{ country }} filter-country table table-bordered table-condensed table-hover table-striped">
								<tbody>
									{{ header }}

									{% for year, values in years %}
										{% if loop.index0 > 0 and loop.index0 % 5 == 0 %}
											{{ header }}
										{% endif %}

										<tr class="year-{{ year[0:4] }} filter-year">
											{% set has_year = false %}
											{% for value in _values if values[value] is defined and not has_year %}
												{% set has_year = true %}

												<td>{{ macros.year(values[value].year) }}</td>
											{% endfor %}

											{% for value in _values %}
												{% if values[value] is defined %}
													{% set coin = values[value] %}

													<td class="value-{{ value|replace('.', '-') }}">
														<button class="btn btn-info btn-mini" data-coin="{{ coin.id }}" data-desc="{{ macros.coin(coin, true)|e('html') }}" data-toggle="button" data-value="{{ coin.value.value }}">
															<i class="icon-white icon-ok"></i>
														</button>
													</td>
												{% else %}
													<td class="value-{{ value|replace('.', '-') }}"></td>
												{% endif %}
											{% endfor %}
										</tr>
									{% endfor %}
								</tbody>
								</table>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
			{% if 2 in filters.types %}
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" href="#type-commemorative">{{ 'coin.type2'|trans }}</a>
					</div>
					<div class="accordion-body collapse" id="type-commemorative">
						<div class="accordion-inner">
							{% include 'EuroCoinBundle:Exchange:choose_coins_collector.html.twig' with {
								source_coins: coins.commemorative,
								source_values: values.commemorative
							} %}
						</div>
					</div>
				</div>
			{% endif %}
			{% if 3 in filters.types %}
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" href="#type-collector">{{ 'coin.type3'|trans }}</a>
					</div>
					<div class="accordion-body collapse" id="type-collector">
						<div class="accordion-inner">
							{% include 'EuroCoinBundle:Exchange:choose_coins_collector.html.twig' with {
								source_coins: coins.collector,
								source_values: values.collector
							} %}
						</div>
					</div>
				</div>
			{% endif %}
		</div>

		{% set action = (type == 'request') ? 'exchange_coins_suggest' : 'exchange_save' %}
		<form action="{{ path(action, { id: from.id, name: from.username }) }}" method="post">
			<input id="coins" name="coins" type="hidden" value="" />

			<button class="btn btn-primary disabled pull-right" disabled="disabled" id="exchange">
				{% if type == 'request' %}
					{{ 'coin.exchange_request'|trans }}
				{% else %}
					{{ 'coin.exchange_suggest'|trans }}
				{% endif %}
			</button>
		</form>
	</div>
</div>

<div class="hide" id="item-model">
	<span class="close" data-action="remove-coin" title="{{ 'coin.remove'|trans }}">×</span><a>%COIN%</a>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/eurocoin/js/coins_request.js') }}" type="text/javascript"></script>
{% endblock %}
