{% for country, years in source_coins %}
	{% set _values = source_values[country] %}

	{% set header %}
	<tr class="table-header">
		<th>{{ country }}</th>
		{% for value in _values %}
		<th class="value-{{ value|replace('.', '-') }}">{{ macros.value(value) }}</th>
		{% endfor %}
	</tr>
	{% endset %}

	<table class="country-{{ country }} filter-country table table-bordered table-condensed table-hover table-striped">
	<tbody>
		{{ header }}

		{% for year, values in years %}
			{% if loop.index0 > 0 and loop.index0 % 10 == 0 %}
				{{ header }}
			{% endif %}

			<tr class="year-{{ year[0:4] }} filter-year">
				{% set has_year = false %}
				{% for value in _values if values[value] is defined and not has_year %}
					{% set has_year = true %}

					<td>{{ macros.year(values[value].year) }}</td>
				{% endfor %}

				{% for value in _values %}
					{% if values[value] is defined %}
						{% set coin = values[value] %}

						<td class="value-{{ value|replace('.', '-') }}">{% include 'EuroCoinBundle:Exchange:choose_coins_button.html.twig' %}</td>
					{% else %}
						<td class="value-{{ value|replace('.', '-') }}"></td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
	</table>
{% endfor %}

