{% extends '::base.html.twig' %}

{% block title %}
	{% if type == 'request' %}
		{{ from.username }} &rarr; {{ app.user.username }}
	{% else %}
		{{ app.user.username }} &rarr; {{ from.username }}
	{% endif %}
{% endblock %}

{% block body %}
{% set has_filters = false %}

<h2 class="page-header">{{ block('title') }}</h2>

<div class="row-fluid">
	<div class="span3">
		<div class="well well-small" style="padding: 8px 0;">
			<ul class="nav nav-list" id="coins_list">
				<li class="nav-header">
					{% if type == 'request' %}
						{{ 'coins.requested_coins'|trans }}
					{% else %}
						{{ 'coins.suggested_coins'|trans }}
					{% endif %}

					{% if all_countries|length > 1 or filter_values|length > 1 or all_years|length > 1 %}
						{% set has_filters = true %}

						<span class="pull-right" title="{{ 'exchange.filter_coins'|trans }}" data-hover="tooltip" data-toggle="collapse" data-target="#filters">
							<i class="icon-filter"></i>
						</span>
					{% endif %}
				</li>
				<li class="divider"></li>
				<li class="nav-header pull-right">Total : <span>0</span> €</li>
			</ul>

			<div class="clearfix"></div>
		</div>

		{% if type == 'suggest' %}
			<div class="well well-small" style="padding: 8px 0;">
				<ul class="nav nav-list">
					<li class="nav-header">{{ 'coins.requested_coins'|trans }}</li>
					{% for uc in from_coins %}
						{% set coin = uc.coin %}

						<li><a>{{ macros.name(coin.country) }} {{ macros.year(coin.year) }} {{ macros.value(coin.value) }}</a></li>
					{% endfor %}
					<li class="divider"></li>
					<li class="nav-header pull-right">Total : {{ macros.value(total_requested) }}</li>
				</ul>

				<div class="clearfix"></div>
			</div>
		{% endif %}
	</div>
	<div class="span9">
		{% if has_filters %}
			<div class="collapse" id="filters">
				{% if all_countries|length > 1 %}
					<ul class="breadcrumb">
						<li class="muted">
							<a class="muted" href="#" title="{{ 'exchange.filter_reset'|trans }}" data-action="reset-country-filter" data-hover="tooltip">&times;</a>
							<span class="divider">&nbsp;</span>
						</li>
						<li class="muted">{{ 'coin.country'|trans }} <span class="divider">&nbsp;</span></li>

						{% for country in all_countries %}
							{% set name = macros.name(country) %}

							<li>
								{% spaceless %}
								<a href="#" title="{{ name }}" data-action="show-country" data-hover="tooltip" data-target=".country-{{ name }}">
									<img alt="{{ name }}" src="{% path country.flag, 'mini' %}" />
								</a>
								{% endspaceless %}
								<span class="divider">&nbsp;</span>
							</li>
						{% endfor %}
					</ul>
				{% endif %}

				{% if filter_values|length > 1 %}
					<ul class="breadcrumb">
						<li class="muted">
							<a class="muted" href="#" title="{{ 'exchange.filter_reset'|trans }}" data-action="reset-value-filter" data-hover="tooltip">&times;</a>
							<span class="divider">&nbsp;</span>
						</li>
						<li class="muted">{{ 'coin.value'|trans }} <span class="divider">&nbsp;</span></li>

						{% for value in filter_values %}
							<li>
								<a href="#" data-action="show-value" data-target=".value-{{ value|replace('.', '-') }}">{{ macros.value(value) }}</a>
								<span class="divider">&nbsp;</span>
							</li>
						{% endfor %}
					</ul>
				{% endif %}

				{% if all_years|length > 1 %}
					<ul class="breadcrumb">
						<li class="muted">
							<a class="muted" href="#" title="{{ 'exchange.filter_reset'|trans }}" data-action="reset-year-filter" data-hover="tooltip">&times;</a>
							<span class="divider">&nbsp;</span>
						</li>
						<li class="muted">{{ 'coin.year'|trans }} <span class="divider">&nbsp;</span></li>

						{% for year in all_years %}
							<li>
								<a href="#" data-action="show-year" data-target=".year-{{ year }}">{{ macros.year(year) }}</a>
								<span class="divider">&nbsp;</span>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		{% endif %}

		{% for country, years in coins %}
			{% set _values, pos = all_values[country], 0 %}

			{% set header %}
			<tr class="table-header">
				<th>{{ country }}</th>
				{% for value in _values %}
				<th class="value-{{ value|replace('.', '-') }}">{{ macros.value(value) }}</th>
				{% endfor %}
			</tr>
			{% endset %}

			<table class="country-{{ country }} filter-country table table-bordered table-condensed table-hover table-striped">
			<tbody>
				{{ header }}

				{% for year, values in years %}
					{% if loop.index0 > 0 and loop.index0 % 5 == 0 %}
						{{ header }}
					{% endif %}

					<tr class="year-{{ year[0:4] }} filter-year">
						{% set has_year = false %}
						{% for value in _values if values[value] is defined and not has_year %}
							{% set has_year = true %}

							<td>{{ macros.year(values[value].year) }}</td>
						{% endfor %}

						{% for value in _values %}
							{% if values[value] is defined %}
								{% set coin = values[value] %}

								<td class="value-{{ value|replace('.', '-') }}">
									<button class="btn btn-info btn-mini" data-coin="{{ coin.id }}" data-desc="{{ macros.coin(coin)|e('html') }}" data-toggle="button" data-value="{{ coin.value.value }}">
										<i class="icon-white icon-ok"></i>
									</button>
								</td>
							{% else %}
								<td class="value-{{ value|replace('.', '-') }}"></td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
			</table>
		{% endfor %}

		<div class="alert alert-block hide" id="no-coins">
			<h4>{{ 'warning'|trans }}</h4>

			{{ 'exchange.filter_no_coins'|trans }}
		</div>

		{% set action = (type == 'request') ? 'exchange_coins_suggest' : 'exchange_save' %}
		<form action="{{ path(action, { id: from.id, name: from.username }) }}" method="post">
			<input id="coins" name="coins" type="hidden" value="" />

			<button class="btn btn-primary disabled pull-right" disabled="disabled" id="exchange">
				{% if type == 'request' %}
					{{ 'coin.exchange_request'|trans }}
				{% else %}
					{{ 'coin.exchange_suggest'|trans }}
				{% endif %}
			</button>
		</form>
	</div>
</div>

<div class="hide" id="item-model">
	<span class="close" data-action="remove-coin" title="{{ 'coin.remove'|trans }}">×</span><a>%COIN%</a>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/eurocoin/js/coins_request.js') }}" type="text/javascript"></script>
{% endblock %}
