{% extends 'EuroCoinBundle:Exchange:base.html.twig' %}

{% block title %}{{ 'coin.exchange'|trans }}{% endblock %}

{% block content %}
<div class="alert alert-block alert-info fade in">
	<button type="button" class="close" data-dismiss="alert">×</button>

	<h4>{{ 'information'|trans }}</h4>

	{{ 'coin.exchange_explain'|trans|raw }}
</div>

<ul class="thumbnails">
	{% for user in users %}
		{% if loop.index0 > 0 and loop.index0 % 6 == 0 %}
			</ul>
			<ul class="thumbnails">
		{% endif %}

		<li class="span2">
			<a class="thumbnail" href="{{ path('exchange_coins_request', { id: user['id'], name: user['username'] }) }}">
				<img alt="{{ user['username'] }}" src="{{ gravatar(user['email']) }}" title="{{ user['username'] }}" />

				<div class="caption">
					<h4>{{ user['username'] }}</h4>
					<small>{{ 'coin.doubles'|transchoice(user['total'], { '%amount%': user['total'] }) }}</small>
				</div>
			</a>
		</li>
	{% endfor %}
</ul>
{% endblock %}
