{% extends '::base.html.twig' %}

{% block body %}
<h2 class="page-header">{{ 'coin.exchange'|trans }} <small><a href="{{ path('exchange_list') }}">{{ 'coin.exchange_list'|trans }}</a></small></h2>

{% if users %}
<p>{{ 'coin.exchange_explain'|trans }}</p>

<ul class="thumbnails">
	{% for user in users %}
	{% set amount = user['total'] %}
	<li class="span2">
		<a class="thumbnail" href="{{ path('exchange_coins_request', { id: user['id'], name: user['username'] }) }}">
			<img src="http://fakeimg.pl/160x160/?text=Pas%20d'avatar" />

			<div class="caption">
				<h4>{{ user['username'] }}</h4>
				<small>{{ 'coin.doubles'|transchoice(amount, { '%amount%': amount }) }}</small>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
{% else %}
<div class="alert">{{ 'coin.doubles.none'|trans }}</div>
{% endif %}
{% endblock %}
