{% for country, years in source_coins %}
	{% set _values = source_values[country] %}

	<table class="country-{{ country }} filter-country table table-bordered table-condensed table-hover table-striped">
	<tbody>
		<tr class="table-header">
			<th>{{ 'coin.country'|trans }}</th>
			<th>{{ 'coin.value'|trans }}</th>
			<th>{{ 'coin.year'|trans }}</th>
			<th>{{ 'coin.description'|trans }}</th>
			<th>&nbsp;</th>
		</tr>

		{% for year, values in years %}
			<tr class="year-{{ year[0:4] }} filter-year">
				{% for value in _values %}
					{% set coin = values[value] %}

					<td>{{ macros.name(coin.country) }}</td>
					<td>{{ macros.value(coin.value) }}</td>
					<td>{{ macros.year(coin.year) }}</td>
					<td>{{ coin.description }}</td>
					<td>{% include 'EuroCoinBundle:Exchange:choose_coins_button.html.twig' %}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
	</table>
{% endfor %}

