{% extends 'EuroCoinBundle:Exchange:base.html.twig' %}

{% block title %}
	{% if all %}
		{{ 'exchange.list_all'|trans }}
	{% else %}
		{{ 'exchange.list_pending'|trans }}
	{% endif %}
{% endblock %}

{% block content %}
<table class="table table-bordered table-hover table-striped">
<thead>
	<tr>
		<th>{{ 'exchange.id'|trans }}</th>
		<th>{{ 'exchange.direction'|trans }}</th>
		<th>{{ 'exchange.proposed_on'|trans }}</th>
		<th>{{ 'exchange.coins_requested'|trans }}</th>
		<th>{{ 'exchange.coins_suggested'|trans }}</th>

		{% if all %}
			<th>{{ 'exchange.status'|trans }}</th>
		{% else %}
			<th>{{ 'exchange.actions'|trans }}</th>
		{% endif %}
	</tr>
</thead>
<tbody>
{% set row_classes = ['info', 'success', 'warning', 'error'] %}
{% for share in shares %}
	<tr class="{{ row_classes[share.status - 1] }}">
		<td><a href="{{ path('exchange_show', { id: share.id }) }}">#{{ share.id }}</a></td>
		<td>
			{% if share.fromuser.id == app.user.id %}<strong>{% endif %}
				<a href="{{ path('show_profile', { id: share.fromuser.id }) }}">{{ share.fromuser.username }}</a>
			{% if share.fromuser.id == app.user.id %}</strong>{% endif %}

			&rarr;

			{% if share.touser.id == app.user.id %}<strong>{% endif %}
				<a href="{{ path('show_profile', { id: share.touser.id }) }}">{{ share.touser.username }}</a>
			{% if share.touser.id == app.user.id %}</strong>{% endif %}
		</td>
		<td>{{ share.date|format_datetime }}</td>
		<td>
			<ul>
				{% for coin in coins[share.id]['requested'] %}
					<li>{{ macros.coin(coin) }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for coin in coins[share.id]['suggested'] %}
					<li>{{ macros.coin(coin) }}</li>
				{% endfor %}
			</ul>
		</td>

		{% if all %}
			<td>{{ ('exchange.status' ~ share.status)|trans }}</td>
		{% else %}
			<td>
				<div class="btn-group">
					{% if share.fromuser.id == app.user.id %}
						<a class="btn btn-small btn-warning" href="{{ path('exchange_cancel', { id: share.id }) }}" title="{{ 'exchange.cancel'|trans }}"><i class="icon-minus-sign"></i></a>
					{% else %}
						<a class="btn btn-small btn-success" href="{{ path('exchange_accept', { id: share.id }) }}" title="{{ 'exchange.accept'|trans }}"><i class="icon-ok"></i></a>
						<a class="btn btn-small btn-danger" href="{{ path('exchange_refuse', { id: share.id }) }}" title="{{ 'exchange.refuse'|trans }}"><i class="icon-remove"></i></a>
					{% endif %}
				</div>
			</td>
		{% endif %}
	</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
