{% extends 'EuroCoinBundle:Exchange:base.html.twig' %}

{% block title %}{{ 'exchange.showing'|trans }}{% endblock %}

{% block content %}
{% set total_requested, total_suggested = 0, 0 %}
<table class="table table-hover table-striped">
<thead>
	<tr>
		<th>{{ 'exchange.proposed_by'|trans({ '%path%': path('show_profile', { id: exchange.fromuser.id }), '%username%': exchange.fromuser.username })|raw }}</th>
		<th>{{ 'exchange.received_by'|trans({ '%path%': path('show_profile', { id: exchange.touser.id }), '%username%': exchange.touser.username })|raw }}</th>
	</tr>
</thead>
<tbody>
	{% set _coins = counts.requested > counts.suggested ? coins.requested : coins.suggested %}

	{% for index in _coins|keys %}
	<tr>
		<td>
			{% set coin = coins.requested[index] %}
			{% if coin is defined %}
				{% set total_requested = total_requested + coin.value.value %}
				{{ macros.coin(coin) }}
			{% endif %}
		</td>
		<td>
			{% set coin = coins.suggested[index] %}
			{% if coin is defined %}
				{% set total_suggested = total_suggested + coin.value.value %}
				{{ macros.coin(coin) }}
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</tbody>
<tfoot>
	<tr>
		<th>{{ 'exchange.total_count'|transchoice(counts.requested, { '%sum%': macros.value(total_requested), '%count%': counts.requested }) }}</th>
		<th>{{ 'exchange.total_count'|transchoice(counts.suggested, { '%sum%': macros.value(total_suggested), '%count%': counts.suggested }) }}</th>
	</tr>
</tfoot>
</table>
{% endblock %}
